In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_phase1 = pd.read_excel('MOHINI.xlsx')

In [3]:
df_phase1

,#,State,Population,Increase,Area(Km2),Density,Sex-Ratio,Literacy
0,-,India,1210854977,0.1764,3287240,382,940,74.04
1,1,Uttar Pradesh,199812341,0.2023,240928,829,912,67.68
2,2,Maharashtra,112374333,0.1599,307713,365,929,82.34
3,3,Bihar,104099452,0.2542,94163,1106,918,61.80
4,4,West Bengal,91276115,0.1384,88752,1028,950,76.26
5,5,Andhra Pradesh,84580777,0.1098,275045,308,993,67.02
6,6,Madhya Pradesh,72626809,0.2035,308252,236,931,69.32
7,7,Tamil Nadu,72147030,0.1561,130060,555,996,80.09
8,8,Rajasthan,68548437,0.2131,342239,200,928,66.11
9,9,Karnataka,61095297,0.1560,191791,319,973,75.36
10,10,Gujarat,60439692,0.1928,196244,308,919,78.03
11,11,Orissa,41974218,0.1405,155707,270,979,72.87
12,12,Kerala,33406061,0.0491,38852,860,1084,94.00
13,13,Jharkhand,32988134,0.2242,79716,414,948,66.41
14,14,Assam,31205576,0.1707,78438,398,958,72.19
15,15,Punjab,27743338,0.1389,50362,551,895,75.84
16,16,Chhattisgarh,25545198,0.2261,135192,189,991,70.28
17,17,Haryana,25351462,0.1990,44212,573,879,75.55
18,18,Delhi,16787941,0.2121,1483,11320,868,86.21
19,19,Jammu and Kashmir,12541302,0.2364,222236,56,889,67.16
20,20,Uttarakhand,10086292,0.1881,53483,189,963,78.82
21,21,Himachal Pradesh,6864602,0.1294,55673,123,972,82.80
22,22,Tripura,3673917,0.1484,10486,350,960,87.22
23,23,Meghalaya,2966889,0.2795,22429,132,989,74.43
24,24,Manipur,2855794,0.2450,22327,128,985,76.94
25,25,Nagaland,1978502,-0.0058,16579,119,931,79.55
26,26,Goa,1458545,0.0823,3702,394,973,88.70
27,27,Arunachal Pradesh,1383727,0.2603,83743,17,938,65.38
28,28,Puducherry,1247953,0.2808,490,2547,1037,85.85
29,29,Mizoram,1097206,0.2348,21081,52,976,91.33
30,30,Chandigarh,1055450,0.1719,114,9258,818,86.05
31,31,Sikkim,610577,0.1289,7096,86,890,81.42
32,32,Andaman and Nicobar Islands,380581,0.0686,8249,46,876,86.63
33,33,Dadra and Nagar Haveli,343709,0.5588,491,700,774,76.24
34,34,Daman and Diu,243247,0.5376,111,2191,618,87.10
35,35,Lakshadweep,64473,0.0630,30,2149,946,91.85

In [4]:
df_phase1.rename(columns={'State':'STATE/UT'},inplace=True)

In [5]:
df_phase1

,#,STATE/UT,Population,Increase,Area(Km2),Density,Sex-Ratio,Literacy
0,-,India,1210854977,0.1764,3287240,382,940,74.04
1,1,Uttar Pradesh,199812341,0.2023,240928,829,912,67.68
2,2,Maharashtra,112374333,0.1599,307713,365,929,82.34
3,3,Bihar,104099452,0.2542,94163,1106,918,61.80
4,4,West Bengal,91276115,0.1384,88752,1028,950,76.26
5,5,Andhra Pradesh,84580777,0.1098,275045,308,993,67.02
6,6,Madhya Pradesh,72626809,0.2035,308252,236,931,69.32
7,7,Tamil Nadu,72147030,0.1561,130060,555,996,80.09
8,8,Rajasthan,68548437,0.2131,342239,200,928,66.11
9,9,Karnataka,61095297,0.1560,191791,319,973,75.36
10,10,Gujarat,60439692,0.1928,196244,308,919,78.03
11,11,Orissa,41974218,0.1405,155707,270,979,72.87
12,12,Kerala,33406061,0.0491,38852,860,1084,94.00
13,13,Jharkhand,32988134,0.2242,79716,414,948,66.41
14,14,Assam,31205576,0.1707,78438,398,958,72.19
15,15,Punjab,27743338,0.1389,50362,551,895,75.84
16,16,Chhattisgarh,25545198,0.2261,135192,189,991,70.28
17,17,Haryana,25351462,0.1990,44212,573,879,75.55
18,18,Delhi,16787941,0.2121,1483,11320,868,86.21
19,19,Jammu and Kashmir,12541302,0.2364,222236,56,889,67.16
20,20,Uttarakhand,10086292,0.1881,53483,189,963,78.82
21,21,Himachal Pradesh,6864602,0.1294,55673,123,972,82.80
22,22,Tripura,3673917,0.1484,10486,350,960,87.22
23,23,Meghalaya,2966889,0.2795,22429,132,989,74.43
24,24,Manipur,2855794,0.2450,22327,128,985,76.94
25,25,Nagaland,1978502,-0.0058,16579,119,931,79.55
26,26,Goa,1458545,0.0823,3702,394,973,88.70
27,27,Arunachal Pradesh,1383727,0.2603,83743,17,938,65.38
28,28,Puducherry,1247953,0.2808,490,2547,1037,85.85
29,29,Mizoram,1097206,0.2348,21081,52,976,91.33
30,30,Chandigarh,1055450,0.1719,114,9258,818,86.05
31,31,Sikkim,610577,0.1289,7096,86,890,81.42
32,32,Andaman and Nicobar Islands,380581,0.0686,8249,46,876,86.63
33,33,Dadra and Nagar Haveli,343709,0.5588,491,700,774,76.24
34,34,Daman and Diu,243247,0.5376,111,2191,618,87.10
35,35,Lakshadweep,64473,0.0630,30,2149,946,91.85

In [6]:
df_phase1= df_phase1.iloc[:, 1:]

In [7]:
df_phase1

,STATE/UT,Population,Increase,Area(Km2),Density,Sex-Ratio,Literacy
0,India,1210854977,0.1764,3287240,382,940,74.04
1,Uttar Pradesh,199812341,0.2023,240928,829,912,67.68
2,Maharashtra,112374333,0.1599,307713,365,929,82.34
3,Bihar,104099452,0.2542,94163,1106,918,61.80
4,West Bengal,91276115,0.1384,88752,1028,950,76.26
5,Andhra Pradesh,84580777,0.1098,275045,308,993,67.02
6,Madhya Pradesh,72626809,0.2035,308252,236,931,69.32
7,Tamil Nadu,72147030,0.1561,130060,555,996,80.09
8,Rajasthan,68548437,0.2131,342239,200,928,66.11
9,Karnataka,61095297,0.1560,191791,319,973,75.36
10,Gujarat,60439692,0.1928,196244,308,919,78.03
11,Orissa,41974218,0.1405,155707,270,979,72.87
12,Kerala,33406061,0.0491,38852,860,1084,94.00
13,Jharkhand,32988134,0.2242,79716,414,948,66.41
14,Assam,31205576,0.1707,78438,398,958,72.19
15,Punjab,27743338,0.1389,50362,551,895,75.84
16,Chhattisgarh,25545198,0.2261,135192,189,991,70.28
17,Haryana,25351462,0.1990,44212,573,879,75.55
18,Delhi,16787941,0.2121,1483,11320,868,86.21
19,Jammu and Kashmir,12541302,0.2364,222236,56,889,67.16
20,Uttarakhand,10086292,0.1881,53483,189,963,78.82
21,Himachal Pradesh,6864602,0.1294,55673,123,972,82.80
22,Tripura,3673917,0.1484,10486,350,960,87.22
23,Meghalaya,2966889,0.2795,22429,132,989,74.43
24,Manipur,2855794,0.2450,22327,128,985,76.94
25,Nagaland,1978502,-0.0058,16579,119,931,79.55
26,Goa,1458545,0.0823,3702,394,973,88.70
27,Arunachal Pradesh,1383727,0.2603,83743,17,938,65.38
28,Puducherry,1247953,0.2808,490,2547,1037,85.85
29,Mizoram,1097206,0.2348,21081,52,976,91.33
30,Chandigarh,1055450,0.1719,114,9258,818,86.05
31,Sikkim,610577,0.1289,7096,86,890,81.42
32,Andaman and Nicobar Islands,380581,0.0686,8249,46,876,86.63
33,Dadra and Nagar Haveli,343709,0.5588,491,700,774,76.24
34,Daman and Diu,243247,0.5376,111,2191,618,87.10
35,Lakshadweep,64473,0.0630,30,2149,946,91.85

In [8]:
df1 = pd.read_csv('35_Human_rights_violation_by_police_2001_2010.csv')

In [9]:
df2 = pd.read_csv('42_District_wise_crimes_committed_against_women_2001_2012.csv')

In [10]:
df3 = pd.read_csv('17_Crime_by_place_of_occurrence_2001_2012.csv')

In [11]:
df4 = pd.read_csv('17_Case_reported_and_value_of_property_taken_away_by_place_of_occurrence_2001_2012.csv')

In [12]:
df5 = pd.read_csv('13_Police_killed_or_injured_on_duty2001_2010.csv')

In [13]:
df6 = pd.read_csv('11_Property_stolen_and_recovered_nature_of_property_2001_2010.csv')

In [14]:
df7 = pd.read_csv('08_01_Juvenile_apprehended_state_IPC_2001_2010.csv')

In [15]:
df8 = pd.read_csv('03_District_wise_crimes_committed_against_children_2001_2012.csv')

In [16]:
df9 = pd.read_csv('02_District_wise_crimes_committed_against_ST_2001_2012.csv')

In [17]:
df10 = pd.read_csv('02_01_District_wise_crimes_committed_against_SC_2001_2012.csv')

In [18]:
df11 = pd.read_csv('01_District_wise_crimes_committed_IPC_2001_2012.csv')

In [19]:
df1

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted
0,Andhra Pradesh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
1,Arunachal Pradesh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
2,Assam,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
3,Bihar,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
4,Chandigarh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
...,...,...,...,...,...,...,...
2262,Meghalaya,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),0.0,0.0,0.0
2263,Nagaland,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),0.0,0.0,0.0
2264,Odisha,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),5.0,1.0,0.0
2265,Uttar Pradesh,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),6.0,5.0,0.0
2266,West Bengal,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),1.0,0.0,0.0

In [20]:
df1.rename(columns={'Area_Name':'STATE/UT'},inplace=True)

In [21]:
df1

,STATE/UT,Year,Group_Name,Sub_Group_Name,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted
0,Andhra Pradesh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
1,Arunachal Pradesh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
2,Assam,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
3,Bihar,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
4,Chandigarh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
...,...,...,...,...,...,...,...
2262,Meghalaya,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),0.0,0.0,0.0
2263,Nagaland,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),0.0,0.0,0.0
2264,Odisha,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),5.0,1.0,0.0
2265,Uttar Pradesh,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),6.0,5.0,0.0
2266,West Bengal,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),1.0,0.0,0.0

In [22]:
df2

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,1,0,1,0
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,1,0,1,0
9014,PUDUCHERRY,KARAIKAL,2012,6,2,0,2,0,1,0
9015,PUDUCHERRY,PUDUCHERRY,2012,7,14,0,7,2,5,0
9016,PUDUCHERRY,TOTAL,2012,13,16,0,9,2,6,0

In [23]:

df3

,STATE/UT,YEAR,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,...,COMMERCIAL ESTABLISHMENTS - Burglary,COMMERCIAL ESTABLISHMENTS - Theft,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft
0,ANDHRA PRADESH,2001,100,177,5158,4257,57,172,31,74,...,1041,2502,37,232,862,8849,214,629,7220,16751
1,ARUNACHAL PRADESH,2001,9,26,99,131,0,0,0,8,...,84,54,8,40,65,249,22,84,248,443
2,ASSAM,2001,381,191,1695,2901,46,136,7,87,...,442,967,77,261,271,1342,532,687,2423,5367
3,BIHAR,2001,818,326,2486,4741,162,826,0,257,...,231,686,210,880,505,2582,1291,2203,3233,9701
4,CHHATTISGARH,2001,54,42,3336,1417,10,38,12,72,...,370,299,15,239,420,2835,87,338,4144,4812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,DELHI,2012,10,101,1249,7076,1,32,0,189,...,285,1370,17,431,178,12749,28,608,1715,22032
452,LAKSHADWEEP,2012,0,0,3,7,0,0,0,0,...,0,0,0,0,0,0,0,0,3,7
453,PUDUCHERRY,2012,1,4,47,42,0,0,0,0,...,26,20,2,8,4,596,5,16,77,658
454,TOTAL (UTs),2012,11,123,1515,7974,1,32,0,199,...,412,2042,28,468,217,13554,44,694,2149,24440
455,TOTAL (ALL-INDIA),2012,1288,2821,60698,81861,838,5000,316,27802,...,12228,29661,1797,17480,19154,181277,4314,27343,92892,337407

In [24]:

df4

,STATE/UT,YEAR,Place Of Occurrence,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)
0,Andhra Pradesh,2001,RESIDENTIAL PREMISES,100,4446961,177,5962460,5158,105324332,4257,53517835
1,Andhra Pradesh,2001,HIGH-WAY,57,5340335,172,6364866,31,2000574,74,1593092
2,Andhra Pradesh,2001,RIVER & SEA,2,145345,11,209330,101,1412516,110,1610200
3,Andhra Pradesh,2001,RAILWAYS,8,1750800,19,304336,6,24392,943,16418110
4,Andhra Pradesh,2001,RUNNING TRAINS,5,75000,3,164000,0,0,296,6170175
...,...,...,...,...,...,...,...,...,...,...,...
4339,Puducherry,2012,BANKS,0,0,0,0,0,0,0,0
4340,Puducherry,2012,COMMERCIAL ESTABLISHMENTS,2,58000,4,197230,26,2117964,20,647043
4341,Puducherry,2012,OTHER PLACES,2,575000,8,113100,4,25500,596,19689249
4342,Puducherry,2012,TOTAL (MANUAL),5,683000,16,2520330,77,12168314,658,23866392
4343,Puducherry,2012,TOTAL COMPUTER FROM 1 TO 7,5,683000,16,2520330,77,12168314,658,23866392

In [25]:
df5

,Area_Name,Year,Group_Name,Sub_Group_Name,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Accidents,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_On_Border_Duties,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Accidents,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_On_Border_Duties,Police_Killed_Total_Policemen
0,Andaman & Nicobar Islands,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Andhra Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,3,4,1,3,0,11,0,0,2,0,3,0,5
2,Arunachal Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Assam,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,1,0,1,0,0,1,0,0,0,1
4,Bihar,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,1,0,0,0,2,0,3,0,0,0,0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2445,Tamil Nadu,2010,Police - Total,7. Total Police Killed or Injured,10,26,142,4,0,0,182,2,0,65,0,0,0,67
2446,Tripura,2010,Police - Total,7. Total Police Killed or Injured,0,0,0,0,2,0,2,0,0,0,0,0,2,2
2447,Uttar Pradesh,2010,Police - Total,7. Total Police Killed or Injured,6,10,9,10,0,8,43,2,1,101,0,0,1,105
2448,Uttarakhand,2010,Police - Total,7. Total Police Killed or Injured,0,0,5,0,0,0,5,0,0,15,0,0,0,15
2449,West Bengal,2010,Police - Total,7. Total Police Killed or Injured,17,265,86,23,21,0,412,2,0,20,1,2,0,25

In [26]:
df5.rename(columns={'Area_Name':'STATE/UT'},inplace=True)

In [27]:
df5

,STATE/UT,Year,Group_Name,Sub_Group_Name,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Accidents,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_On_Border_Duties,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Accidents,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_On_Border_Duties,Police_Killed_Total_Policemen
0,Andaman & Nicobar Islands,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Andhra Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,3,4,1,3,0,11,0,0,2,0,3,0,5
2,Arunachal Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Assam,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,1,0,1,0,0,1,0,0,0,1
4,Bihar,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,1,0,0,0,2,0,3,0,0,0,0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2445,Tamil Nadu,2010,Police - Total,7. Total Police Killed or Injured,10,26,142,4,0,0,182,2,0,65,0,0,0,67
2446,Tripura,2010,Police - Total,7. Total Police Killed or Injured,0,0,0,0,2,0,2,0,0,0,0,0,2,2
2447,Uttar Pradesh,2010,Police - Total,7. Total Police Killed or Injured,6,10,9,10,0,8,43,2,1,101,0,0,1,105
2448,Uttarakhand,2010,Police - Total,7. Total Police Killed or Injured,0,0,5,0,0,0,5,0,0,15,0,0,0,15
2449,West Bengal,2010,Police - Total,7. Total Police Killed or Injured,17,265,86,23,21,0,412,2,0,20,1,2,0,25

In [28]:
df6.rename(columns={'Area_Name':'STATE/UT'},inplace=True)

In [29]:
df6

,STATE/UT,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
0,Andaman & Nicobar Islands,2001,Cattle - Property,2. Cattle,0,1,0,1000
1,Andhra Pradesh,2001,Cattle - Property,2. Cattle,448,580,6490596,7233876
2,Arunachal Pradesh,2001,Cattle - Property,2. Cattle,22,34,135500,704500
3,Assam,2001,Cattle - Property,2. Cattle,149,322,683350,1816386
4,Bihar,2001,Cattle - Property,2. Cattle,144,334,896019,1911068
...,...,...,...,...,...,...,...,...
4545,Tamil Nadu,2010,Total Property(Nature),Total Property Stolen & Recovered,16125,21509,660311804,1317919190
4546,Tripura,2010,Total Property(Nature),Total Property Stolen & Recovered,192,879,5666102,33032746
4547,Uttar Pradesh,2010,Total Property(Nature),Total Property Stolen & Recovered,9130,35068,577591772,1442670414
4548,Uttarakhand,2010,Total Property(Nature),Total Property Stolen & Recovered,964,2234,47135685,123398840
4549,West Bengal,2010,Total Property(Nature),Total Property Stolen & Recovered,4548,23759,1168242161,5015168687

In [30]:
df7

,STATE/UT,Year,CRIME,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total
0,Andhra Pradesh,2001,Murder,3,0,7,0,5,0,15,0,15
1,Andhra Pradesh,2001,Attempt to Commit Murder,2,0,0,0,11,0,13,0,13
2,Andhra Pradesh,2001,C H Not amounting to Murder,0,0,0,0,0,0,0,0,0
3,Andhra Pradesh,2001,Rape,2,0,15,0,2,1,19,1,20
4,Andhra Pradesh,2001,Custodial Rape,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10495,Puducherry,2010,Cruelty by Husband or Relatives,0,0,0,0,0,0,0,0,0
10496,Puducherry,2010,Importation of girls from Foreign Countr,0,0,0,0,0,0,0,0,0
10497,Puducherry,2010,Causing death by negligence,0,0,0,0,0,0,0,0,0
10498,Puducherry,2010,Other IPC Crimes,0,0,1,0,2,3,3,3,6
10499,Puducherry,2010,Total IPC Crimes,0,0,8,0,31,4,39,4,43

In [31]:
df8

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,ANDHRA PRADESH,ANANTAPUR,2001,19.0,12.0,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,66
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9010,LAKSHADWEEP,LAKSHADWEEP,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9011,LAKSHADWEEP,TOTAL,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9012,PUDUCHERRY,KARAIKAL,2012,0.0,3.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,7
9013,PUDUCHERRY,PUDUCHERRY,2012,0.0,4.0,16.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,25
9014,PUDUCHERRY,TOTAL,2012,0.0,7.0,18.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,3.0,32

In [32]:
df9

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,2,0,0,0,2,0,0,13
1,ANDHRA PRADESH,ANANTAPUR,2001,0,0,0,0,0,0,7,0,1,6
2,ANDHRA PRADESH,CHITTOOR,2001,0,0,0,0,0,0,2,0,0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0,0,0,0,0,0,2,0,2,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0,0,0,0,0,0,0,0,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,0,0,0,0,0,0,0,0,0,0
9016,PUDUCHERRY,PUDUCHERRY,2012,0,0,0,0,0,0,0,0,0,0
9017,PUDUCHERRY,TOTAL,2012,0,0,0,0,0,0,0,0,0,0

In [33]:
df10

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,4,0,0,0,3,0,15,32
1,ANDHRA PRADESH,ANANTAPUR,2001,0,4,0,0,0,0,49,21,0,53
2,ANDHRA PRADESH,CHITTOOR,2001,3,3,0,0,0,0,38,36,0,34
3,ANDHRA PRADESH,CUDDAPAH,2001,0,3,0,0,0,0,20,52,0,25
4,ANDHRA PRADESH,EAST GODAVARI,2001,1,3,0,0,0,0,3,12,63,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,1,0,0,0,0,0,0,0,0,0
9016,PUDUCHERRY,PUDUCHERRY,2012,1,0,0,0,0,0,0,1,20,1
9017,PUDUCHERRY,TOTAL,2012,2,0,0,0,0,0,0,1,20,1

In [34]:
df11

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,0,6,2,...,1,186,0,2,0,1,0,44,392,787
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,0,7,17,...,20,632,0,7,2,5,0,219,1668,3494
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,21,818,0,9,2,6,0,263,2060,4281

In [35]:

grouped_data = df1.drop(columns=['Year']).groupby('STATE/UT').sum()


grouped_data.reset_index(inplace=True)

In [36]:
df1.columns

Index(['STATE/UT', 'Year', 'Group_Name', 'Sub_Group_Name',
       'Cases_Registered_under_Human_Rights_Violations',
       'Policemen_Chargesheeted', 'Policemen_Convicted'],
      dtype='object')

In [37]:
grouped_data

,STATE/UT,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted
0,Andhra Pradesh,226.0,110.0,4.0
1,Arunachal Pradesh,40.0,12.0,0.0
2,Assam,302.0,4.0,0.0
3,Bihar,52.0,26.0,16.0
4,Chandigarh,2.0,0.0,0.0
5,Chhattisgarh,624.0,142.0,138.0
6,Daman & Diu,0.0,0.0,0.0
7,Delhi,24.0,32.0,0.0
8,Goa,6.0,2.0,0.0
9,Gujarat,226.0,166.0,0.0
10,Haryana,22.0,14.0,0.0
11,Himachal Pradesh,0.0,0.0,0.0
12,Jammu & Kashmir,36.0,26.0,0.0
13,Jharkhand,6.0,2.0,0.0
14,Karnataka,74.0,18.0,0.0
15,Kerala,16.0,2.0,0.0
16,Madhya Pradesh,16.0,14.0,6.0
17,Maharashtra,90.0,78.0,0.0
18,Manipur,6.0,0.0,0.0
19,Meghalaya,0.0,0.0,0.0
20,Mizoram,0.0,0.0,0.0
21,Nagaland,0.0,0.0,0.0
22,Odisha,62.0,18.0,0.0
23,Puducherry,2.0,0.0,0.0
24,Punjab,22.0,10.0,0.0
25,Rajasthan,16.0,8.0,0.0
26,Tamil Nadu,22.0,18.0,0.0
27,Tripura,0.0,0.0,0.0
28,Uttar Pradesh,108.0,154.0,0.0
29,Uttarakhand,2.0,0.0,0.0
30,West Bengal,28.0,16.0,0.0

In [38]:
df2

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,1,0,1,0
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,1,0,1,0
9014,PUDUCHERRY,KARAIKAL,2012,6,2,0,2,0,1,0
9015,PUDUCHERRY,PUDUCHERRY,2012,7,14,0,7,2,5,0
9016,PUDUCHERRY,TOTAL,2012,13,16,0,9,2,6,0

In [39]:
grouped_data1 = df2.drop(columns=['DISTRICT','Year']).groupby('STATE/UT').sum()

In [40]:
grouped_data1.reset_index(inplace=True)

In [41]:
grouped_data1

,STATE/UT,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,A & N ISLANDS,218,154,12,428,86,242,0
1,ANDHRA PRADESH,26958,29872,12430,103998,72262,238014,34
2,ARUNACHAL PRADESH,1000,1116,4,1568,36,334,0
3,ASSAM,32356,45840,2552,27240,224,78776,16
4,BIHAR,26248,38778,27096,15152,452,51360,880
5,CHANDIGARH,562,1068,84,628,286,1614,0
6,CHHATTISGARH,23676,5260,2284,38330,3450,19146,10
7,D & N HAVELI,112,188,2,100,8,76,0
8,DAMAN & DIU,40,30,6,30,4,70,0
9,DELHI,12848,31300,3164,15068,3374,30422,2
10,GOA,700,328,38,656,246,382,0
11,GUJARAT,8498,25836,1004,17996,2730,118862,0
12,HARYANA,12820,12258,6260,10646,16376,54224,0
13,HIMACHAL PRADESH,3608,3082,110,7194,878,6490,0
14,JAMMU & KASHMIR,5620,17640,270,23018,7986,3600,0
15,JHARKHAND,18318,10564,6582,7970,494,16818,290
16,KARNATAKA,10348,10630,5836,47398,1662,60104,94
17,KERALA,14894,3796,602,62980,6608,92148,0
18,LAKSHADWEEP,14,2,0,10,0,14,0
19,MADHYA PRADESH,72174,18486,18072,159756,18634,79938,120
20,MAHARASHTRA,35972,21706,8498,78438,24220,160726,4
21,MANIPUR,774,2114,4,1008,6,438,0
22,MEGHALAYA,2040,528,30,1064,16,330,8
23,MIZORAM,1652,20,8,1632,12,108,6
24,NAGALAND,440,142,0,192,20,18,2
25,ODISHA,22860,16582,9110,59892,5878,37394,36
26,PUDUCHERRY,154,242,52,1226,568,210,0
27,PUNJAB,10918,10770,3092,8094,1524,23996,4
28,RAJASTHAN,31596,49342,10132,61706,708,200202,12
29,SIKKIM,390,124,4,460,28,88,0
30,TAMIL NADU,13904,24872,4634,38658,20086,36376,30
31,TRIPURA,4116,1750,628,5546,78,13028,0
32,UTTAR PRADESH,38116,95180,47648,59396,53022,155234,6
33,UTTARAKHAND,2756,4668,1812,3090,3038,8284,2
34,WEST BENGAL,41574,43546,10344,45742,3108,261336,228

In [42]:
df3

,STATE/UT,YEAR,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,...,COMMERCIAL ESTABLISHMENTS - Burglary,COMMERCIAL ESTABLISHMENTS - Theft,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft
0,ANDHRA PRADESH,2001,100,177,5158,4257,57,172,31,74,...,1041,2502,37,232,862,8849,214,629,7220,16751
1,ARUNACHAL PRADESH,2001,9,26,99,131,0,0,0,8,...,84,54,8,40,65,249,22,84,248,443
2,ASSAM,2001,381,191,1695,2901,46,136,7,87,...,442,967,77,261,271,1342,532,687,2423,5367
3,BIHAR,2001,818,326,2486,4741,162,826,0,257,...,231,686,210,880,505,2582,1291,2203,3233,9701
4,CHHATTISGARH,2001,54,42,3336,1417,10,38,12,72,...,370,299,15,239,420,2835,87,338,4144,4812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,DELHI,2012,10,101,1249,7076,1,32,0,189,...,285,1370,17,431,178,12749,28,608,1715,22032
452,LAKSHADWEEP,2012,0,0,3,7,0,0,0,0,...,0,0,0,0,0,0,0,0,3,7
453,PUDUCHERRY,2012,1,4,47,42,0,0,0,0,...,26,20,2,8,4,596,5,16,77,658
454,TOTAL (UTs),2012,11,123,1515,7974,1,32,0,199,...,412,2042,28,468,217,13554,44,694,2149,24440
455,TOTAL (ALL-INDIA),2012,1288,2821,60698,81861,838,5000,316,27802,...,12228,29661,1797,17480,19154,181277,4314,27343,92892,337407

In [43]:
grouped_data3 = df3.drop(columns=['YEAR']).groupby('STATE/UT').sum()

grouped_data3.reset_index(inplace=True)

In [44]:
grouped_data3

,STATE/UT,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,RIVER and SEA - Dacoity,...,COMMERCIAL ESTABLISHMENTS - Burglary,COMMERCIAL ESTABLISHMENTS - Theft,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft
0,A & N ISLANDS,0,8,592,252,0,0,0,0,0,...,110,144,15,64,188,668,15,74,892,1124
1,ANDHRA PRADESH,845,2612,70059,97567,471,1486,504,3544,3,...,12032,30960,544,3037,14226,141625,1987,7605,97336,287190
2,ARUNACHAL PRADESH,119,321,1349,2243,19,69,9,128,0,...,654,758,92,288,767,2045,260,843,2780,5178
3,ASSAM,2612,2357,18375,37042,420,991,515,1833,19,...,5545,11229,782,3129,10104,33996,4170,7467,34752,85475
4,BIHAR,6606,2823,30745,63752,1934,11913,267,4665,4,...,2711,14233,1492,7351,6409,55678,11099,23666,40293,153372
5,CHANDIGARH,3,46,1808,6898,0,0,0,0,0,...,946,4303,17,295,178,7265,31,397,2947,18474
6,CHHATTISGARH,636,619,35246,16201,122,706,321,731,4,...,3459,4792,551,3510,5493,37843,1468,5113,44656,62873
7,D & N HAVELI,17,10,171,292,1,6,0,11,0,...,143,203,12,11,70,245,40,30,388,773
8,DAMAN & DIU,4,2,222,52,0,0,0,1,1,...,226,89,17,19,50,456,36,27,525,613
9,DELHI,145,1092,16149,56767,17,371,0,1128,0,...,3887,16116,144,4452,3496,147093,381,6461,23555,231546
10,GOA,24,58,1987,1182,7,40,0,88,0,...,1012,793,17,162,646,5825,55,298,3700,8045
11,GUJARAT,1166,2245,36635,46649,528,1039,70,1470,8,...,10782,25015,1621,9578,12902,131614,3842,14383,60689,213207
12,HARYANA,225,716,31165,32329,349,1088,282,3960,1,...,9135,20822,669,3377,5557,69770,1375,5871,46504,131394
13,HIMACHAL PRADESH,6,30,4565,1155,6,33,0,348,0,...,2101,874,24,147,2843,7229,45,236,9689,9658
14,JAMMU & KASHMIR,88,378,9054,6024,3,23,40,291,0,...,3653,2874,78,781,4178,15801,188,1312,17050,25767
15,JHARKHAND,2757,2124,14014,32328,1971,4105,47,3131,0,...,1148,9924,740,1708,1397,22572,5906,8711,16680,71322
16,KARNATAKA,710,3098,47568,50098,317,734,401,1809,2,...,12051,21616,1356,12346,12650,120166,2581,17287,73298,199960
17,KERALA,282,1907,25373,17123,134,365,104,1067,4,...,8288,4533,759,5467,12314,37218,1364,8329,46371,62353
18,LAKSHADWEEP,2,0,18,50,0,0,0,0,0,...,6,31,1,0,11,30,3,0,36,113
19,MADHYA PRADESH,572,2819,100474,92834,249,2909,205,6662,3,...,14999,25211,683,15345,21316,119995,1655,22314,137346,263860
20,MAHARASHTRA,1860,4221,117344,102193,933,3570,185,5043,12,...,33323,42434,4530,26581,33483,368305,8175,37719,185617,556807
21,MANIPUR,5,10,235,1043,26,28,7,362,0,...,341,813,17,44,171,2605,48,83,755,4834
22,MEGHALAYA,208,189,1030,2031,265,306,11,194,0,...,212,648,264,398,630,3129,798,972,1888,6004
23,MIZORAM,10,24,2701,4518,13,46,126,170,7,...,887,1935,13,41,1032,3160,45,114,4748,9803
24,NAGALAND,31,248,530,1601,52,337,11,242,0,...,249,704,31,335,353,1209,125,1042,1146,3802
25,ODISHA,1067,2366,22199,22640,735,4403,179,1429,0,...,5843,7925,1078,6018,7930,44309,3381,14705,36505,82837
26,PUDUCHERRY,10,18,655,939,0,0,0,0,0,...,280,445,22,61,129,5981,38,89,1064,7366
27,PUNJAB,107,314,14348,13421,34,163,22,1753,0,...,6388,7446,250,1058,6508,27169,460,1828,27621,50503
28,RAJASTHAN,83,272,38747,32628,136,769,0,1452,0,...,15034,12556,279,7723,11200,180296,563,9071,65268,232974
29,SIKKIM,3,22,607,501,1,3,0,33,0,...,99,88,2,33,159,388,6,64,877,1019
30,TAMIL NADU,414,2752,35562,46398,216,920,37,4304,2,...,6278,26134,505,6572,11207,105059,1237,11272,53339,185160
31,TOTAL (ALL-INDIA),22105,35290,674002,846519,9451,48149,3322,143318,62,...,153075,298552,17775,126694,189691,1751117,54890,228285,1025898,3205333
32,TOTAL (STATES),23480,36932,713720,852467,10123,51450,3439,155358,71,...,161877,306153,19329,133799,202656,1758758,58838,241137,1087785,3240300
33,TOTAL (UTs),181,1174,19564,65225,18,377,0,1140,1,...,5582,21303,228,4890,4111,161670,544,7064,29329,259881
34,TRIPURA,128,342,1360,2200,6,20,0,21,0,...,371,790,47,255,443,1246,197,721,2212,4353
35,UTTAR PRADESH,1864,2725,45917,55119,849,13737,79,109154,2,...,3974,10103,1764,13198,15558,113992,4809,30767,65587,312047
36,UTTARAKHAND,166,304,3533,6536,53,726,10,442,0,...,883,1647,107,902,1132,10947,357,1990,5578,20035
37,WEST BENGAL,886,1036,2998,65111,274,921,7,1032,0,...,425,19296,1034,4415,2048,95567,2642,7354,5500,190468

In [45]:
df4

,STATE/UT,YEAR,Place Of Occurrence,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)
0,Andhra Pradesh,2001,RESIDENTIAL PREMISES,100,4446961,177,5962460,5158,105324332,4257,53517835
1,Andhra Pradesh,2001,HIGH-WAY,57,5340335,172,6364866,31,2000574,74,1593092
2,Andhra Pradesh,2001,RIVER & SEA,2,145345,11,209330,101,1412516,110,1610200
3,Andhra Pradesh,2001,RAILWAYS,8,1750800,19,304336,6,24392,943,16418110
4,Andhra Pradesh,2001,RUNNING TRAINS,5,75000,3,164000,0,0,296,6170175
...,...,...,...,...,...,...,...,...,...,...,...
4339,Puducherry,2012,BANKS,0,0,0,0,0,0,0,0
4340,Puducherry,2012,COMMERCIAL ESTABLISHMENTS,2,58000,4,197230,26,2117964,20,647043
4341,Puducherry,2012,OTHER PLACES,2,575000,8,113100,4,25500,596,19689249
4342,Puducherry,2012,TOTAL (MANUAL),5,683000,16,2520330,77,12168314,658,23866392
4343,Puducherry,2012,TOTAL COMPUTER FROM 1 TO 7,5,683000,16,2520330,77,12168314,658,23866392

In [46]:
grouped_data4 = df4.drop(columns=['YEAR']).groupby('STATE/UT').sum()

grouped_data4.reset_index(inplace=True)

In [47]:
grouped_data4

,STATE/UT,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)
0,A&N Islands,38,4469300,172,3703802,2092,82876500,2585,96883355
1,Andhra Pradesh,4678,1038179084,17485,1063793990,217626,8202453376,646708,16079325669
2,Arunachal Pradesh,607,512537231,2008,71207640,6535,658608324,12127,995503288
3,Assam,10184,744571667,17265,485536271,79465,1141491170,195009,4985668400
4,Bihar,27040,1806217984,56057,1876725011,94007,1081586592,369994,6699303790
5,Chandigarh,72,242305700,940,32341383,7309,351422273,45037,2020398244
6,Chhattisgarh,3276,454320051,11135,508553555,96301,1841761252,139565,4386995035
7,D&N Haveli,86,20231692,66,8635239,906,118322842,1787,263902950
8,Daman & Diu,77,29091967,50,21043560,1107,185104965,1319,119306277
9,Delhi UT,973,443059232,16238,3716375329,60140,5856263061,583695,36380881354
10,Goa,131,49926291,692,99434677,8696,603111633,18348,1355782200
11,Gujarat,9781,5987288328,34968,2108336940,147746,7828236645,519317,21205553069
12,Haryana,3207,1364568963,13658,2402631996,107751,3649085920,304989,11725948759
13,Himachal Pradesh,101,43221387,551,59806589,22556,1321303462,21955,1756168284
14,Jammu & Kashmir,484,52833227,3309,231716277,41164,1399172781,62020,2512410603
15,Jharkhand,12286,986731929,18196,740318896,34636,565113057,152471,2902159975
16,Karnataka,5610,1665366992,38257,2671192763,158492,9296691037,440881,17123811510
17,Kerala,3089,1121414041,18569,759616235,104060,6035483598,141975,6768054134
18,Lakshadweep,6,1000000,0,0,84,2227740,258,3739135
19,Madhya Pradesh,3647,14914882818,48437,2358753157,299548,5520271510,587049,13183977818
20,Maharashtra,19542,4294330971,88602,9809652679,446414,25101571802,1364852,75342520493
21,Manipur,131,11225340,202,21416792,1768,166289706,11283,636590166
22,Meghalaya,1973,141943709,2452,58689611,4553,338144249,14050,1544239873
23,Mizoram,103,3762402,282,9899592,11189,378005327,23182,703815590
24,Nagaland,315,28558281,2562,2122159435,2837,326222041,9028,1365646513
25,Odisha,8308,1756275043,36544,1861808674,91601,3473022843,212100,8516330115
26,Puducherry,87,18674500,220,30099428,2638,149167792,17477,408431606
27,Punjab,1043,427439038,4097,908875765,61909,3818749375,112724,8147089373
28,Rajasthan,1357,622459220,21869,2378418178,160396,4971926867,562853,20445286236
29,Sikkim,17,1329000,158,10421400,2175,83474298,2566,93689833
30,Tamil Nadu,3087,1854547342,26963,1644560142,131267,5173664559,454800,10022077464
31,Tripura,537,47887337,1747,31648883,5380,160443760,10168,432250937
32,Uttar Pradesh,11853,1821685918,74099,5576709776,156472,7465031234,755265,19962230696
33,Uttarakhand,881,167964779,4818,343014993,13724,504804994,48214,1710794679
34,West Bengal,6449,1449422431,17778,986689945,13322,614378467,459053,27642373209

In [48]:
df5

,STATE/UT,Year,Group_Name,Sub_Group_Name,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Accidents,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_On_Border_Duties,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Accidents,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_On_Border_Duties,Police_Killed_Total_Policemen
0,Andaman & Nicobar Islands,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Andhra Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,3,4,1,3,0,11,0,0,2,0,3,0,5
2,Arunachal Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Assam,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,1,0,1,0,0,1,0,0,0,1
4,Bihar,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,1,0,0,0,2,0,3,0,0,0,0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2445,Tamil Nadu,2010,Police - Total,7. Total Police Killed or Injured,10,26,142,4,0,0,182,2,0,65,0,0,0,67
2446,Tripura,2010,Police - Total,7. Total Police Killed or Injured,0,0,0,0,2,0,2,0,0,0,0,0,2,2
2447,Uttar Pradesh,2010,Police - Total,7. Total Police Killed or Injured,6,10,9,10,0,8,43,2,1,101,0,0,1,105
2448,Uttarakhand,2010,Police - Total,7. Total Police Killed or Injured,0,0,5,0,0,0,5,0,0,15,0,0,0,15
2449,West Bengal,2010,Police - Total,7. Total Police Killed or Injured,17,265,86,23,21,0,412,2,0,20,1,2,0,25

In [49]:
grouped_data5 = df5.drop(columns=['Year']).groupby('STATE/UT').sum()

grouped_data5.reset_index(inplace=True)

In [50]:
grouped_data5

,STATE/UT,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Accidents,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_On_Border_Duties,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Accidents,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_On_Border_Duties,Police_Killed_Total_Policemen
0,Andaman & Nicobar Islands,22,0,0,0,0,0,22,2,0,8,0,0,0,10
1,Andhra Pradesh,244,1328,1854,100,252,2,3780,18,12,770,12,184,2,998
2,Arunachal Pradesh,10,38,0,30,2,0,80,0,0,2,0,0,0,2
3,Assam,50,114,44,14,208,34,464,36,18,54,32,142,4,286
4,Bihar,126,136,138,56,142,26,624,92,20,140,14,172,24,462
5,Chandigarh,114,312,140,0,0,0,566,0,0,42,0,0,0,42
6,Chhattisgarh,88,124,58,16,536,20,842,50,0,124,4,664,10,852
7,Dadra & Nagar Haveli,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,Daman & Diu,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,Delhi,410,1144,608,60,40,4,2266,18,2,344,0,14,0,378
10,Goa,26,270,58,0,0,0,354,0,0,4,0,0,0,4
11,Gujarat,200,1440,422,60,46,6,2174,32,10,950,12,6,20,1030
12,Haryana,94,234,220,2,0,2,552,50,20,642,0,0,6,718
13,Himachal Pradesh,92,98,56,8,0,0,254,12,0,54,0,0,0,66
14,Jammu & Kashmir,382,7846,134,8,2090,2,10462,98,4,164,2,874,0,1142
15,Jharkhand,14,126,76,6,312,0,534,50,14,158,8,428,0,658
16,Karnataka,546,2486,760,242,34,318,4386,70,4,302,8,0,18,402
17,Kerala,2726,5086,798,32,4,22,8668,8,4,106,2,2,0,122
18,Lakshadweep,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,Madhya Pradesh,1610,1528,454,96,16,76,3780,106,2,474,16,2,20,620
20,Maharashtra,1246,7186,2242,656,394,22,11746,78,12,1450,10,274,0,1824
21,Manipur,2,4,2,10,68,0,86,6,2,18,10,60,0,96
22,Meghalaya,4,170,6,10,10,0,200,20,2,12,14,22,0,70
23,Mizoram,4,0,0,0,6,0,10,6,0,2,0,28,2,38
24,Nagaland,2,2,6,0,0,0,10,0,2,2,0,6,0,10
25,Odisha,302,458,80,110,200,8,1158,6,12,86,2,126,0,232
26,Puducherry,158,28,108,0,0,0,294,0,0,2,0,0,0,2
27,Punjab,106,208,292,4,4,0,614,172,0,1606,6,4,56,1844
28,Rajasthan,2132,2466,472,22,2,0,5094,118,12,662,8,0,0,800
29,Sikkim,0,2,4,0,0,0,6,14,0,12,0,0,0,26
30,Tamil Nadu,354,628,2598,90,0,0,3670,16,22,942,4,4,0,988
31,Tripura,4,2,74,0,248,0,328,8,2,30,2,246,6,294
32,Uttar Pradesh,676,598,756,220,30,38,2318,242,30,1700,106,16,56,2150
33,Uttarakhand,4,44,134,0,0,0,182,12,2,170,0,0,2,186
34,West Bengal,506,4292,2106,360,234,10,7508,34,14,310,4,38,2,402

In [51]:
df6

,STATE/UT,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
0,Andaman & Nicobar Islands,2001,Cattle - Property,2. Cattle,0,1,0,1000
1,Andhra Pradesh,2001,Cattle - Property,2. Cattle,448,580,6490596,7233876
2,Arunachal Pradesh,2001,Cattle - Property,2. Cattle,22,34,135500,704500
3,Assam,2001,Cattle - Property,2. Cattle,149,322,683350,1816386
4,Bihar,2001,Cattle - Property,2. Cattle,144,334,896019,1911068
...,...,...,...,...,...,...,...,...
4545,Tamil Nadu,2010,Total Property(Nature),Total Property Stolen & Recovered,16125,21509,660311804,1317919190
4546,Tripura,2010,Total Property(Nature),Total Property Stolen & Recovered,192,879,5666102,33032746
4547,Uttar Pradesh,2010,Total Property(Nature),Total Property Stolen & Recovered,9130,35068,577591772,1442670414
4548,Uttarakhand,2010,Total Property(Nature),Total Property Stolen & Recovered,964,2234,47135685,123398840
4549,West Bengal,2010,Total Property(Nature),Total Property Stolen & Recovered,4548,23759,1168242161,5015168687

In [52]:
grouped_data6 = df6.drop(columns=['Year']).groupby('STATE/UT').sum()

grouped_data6.reset_index(inplace=True)

In [53]:
grouped_data6

,STATE/UT,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
0,Andaman & Nicobar Islands,1584,3753,58746894,652963034
1,Andhra Pradesh,365664,707653,10042202784,21583696194
2,Arunachal Pradesh,6404,17536,676669714,1999247979
3,Assam,58574,260312,2050088094,7426993931
4,Bihar,67602,437835,1444176791,9295129888
5,Chandigarh,18449,50266,946569182,2615635654
6,Chhattisgarh,75361,218707,2450294352,6912572828
7,Dadra & Nagar Haveli,1281,2935,240858466,2061977572
8,Daman & Diu,651,2386,97627917,418672357
9,Delhi,185183,635795,3822400256,74497210284
10,Goa,6706,22274,440225856,4400660150
11,Gujarat,189343,622993,8409192128,71285745744
12,Haryana,160311,380353,12157629227,20544901951
13,Himachal Pradesh,11503,37781,1057496786,3593845347
14,Jammu & Kashmir,25424,84564,1717500732,4032599465
15,Jharkhand,38247,192610,851682603,5468354472
16,Karnataka,181709,570524,11079496779,33945698679
17,Kerala,81294,246847,4023466295,30857528237
18,Lakshadweep,115,383,1976521,11812049
19,Madhya Pradesh,278003,819819,22427531681,35554532139
20,Maharashtra,515253,1535782,29543342881,217063089987
21,Manipur,785,13572,152832926,1580844061
22,Meghalaya,4286,18543,208510278,1799060939
23,Mizoram,19371,27498,439567409,1072176297
24,Nagaland,3229,13639,332185747,4783250928
25,Odisha,109710,242469,3143069274,14063656181
26,Puducherry,8798,17909,318754564,568822255
27,Punjab,94791,175301,10005401525,18625442713
28,Rajasthan,159169,557767,14614007333,25739605450
29,Sikkim,1068,3441,63751540,506448388
30,Tamil Nadu,374758,476573,10628122452,16270244954
31,Tripura,3558,15025,113733584,707466988
32,Uttar Pradesh,194531,672276,16116759792,29094427241
33,Uttarakhand,16353,48127,683096234,2147406706
34,West Bengal,92953,405243,5822200089,25543386953

In [54]:
df7

,STATE/UT,Year,CRIME,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total
0,Andhra Pradesh,2001,Murder,3,0,7,0,5,0,15,0,15
1,Andhra Pradesh,2001,Attempt to Commit Murder,2,0,0,0,11,0,13,0,13
2,Andhra Pradesh,2001,C H Not amounting to Murder,0,0,0,0,0,0,0,0,0
3,Andhra Pradesh,2001,Rape,2,0,15,0,2,1,19,1,20
4,Andhra Pradesh,2001,Custodial Rape,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10495,Puducherry,2010,Cruelty by Husband or Relatives,0,0,0,0,0,0,0,0,0
10496,Puducherry,2010,Importation of girls from Foreign Countr,0,0,0,0,0,0,0,0,0
10497,Puducherry,2010,Causing death by negligence,0,0,0,0,0,0,0,0,0
10498,Puducherry,2010,Other IPC Crimes,0,0,1,0,2,3,3,3,6
10499,Puducherry,2010,Total IPC Crimes,0,0,8,0,31,4,39,4,43

In [55]:
grouped_data7 = df7.drop(columns=['Year']).groupby('STATE/UT').sum()
grouped_data7.reset_index(inplace=True)

In [56]:
grouped_data7

,STATE/UT,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total
0,A&N Islands,10,0,132,22,297,56,439,78,517
1,Andhra Pradesh,1771,57,13683,455,21022,1381,36476,1893,38369
2,Arunachal Pradesh,136,2,1271,2,1248,14,2655,18,2673
3,Assam,1286,116,5221,510,4664,535,11171,1161,12332
4,Bihar,133,7,3356,96,10457,427,13946,530,14476
5,Chandigarh,173,30,1434,63,1050,34,2657,127,2784
6,Chhattisgarh,1773,199,20332,748,16606,550,38711,1497,40208
7,D&N Haveli,5,0,101,2,171,2,277,4,281
8,Daman & Diu,0,0,21,0,78,0,99,0,99
9,Delhi UT,683,53,7106,178,11870,354,19659,585,20244
10,Goa,138,14,666,16,797,39,1601,69,1670
11,Gujarat,1470,200,14845,1379,26031,2598,42346,4177,46523
12,Haryana,353,21,7409,221,20176,1036,27938,1278,29216
13,Himachal Pradesh,73,8,1072,77,1862,120,3007,205,3212
14,Jammu & Kashmir,31,9,162,22,4,4,197,35,232
15,Jharkhand,1665,4,5245,393,5318,495,12228,892,13120
16,Karnataka,899,51,4101,178,3435,198,8435,427,8862
17,Kerala,71,41,3016,146,7075,484,10162,671,10833
18,Lakshadweep,0,0,2,2,0,0,2,2,4
19,Madhya Pradesh,5836,406,47670,2866,71304,4291,124810,7563,132373
20,Maharashtra,4967,382,45491,2757,68849,4295,119307,7434,126741
21,Manipur,0,0,0,0,0,0,0,0,0
22,Meghalaya,110,2,631,15,1123,32,1864,49,1913
23,Mizoram,476,44,1152,311,1218,245,2846,600,3446
24,Nagaland,29,0,89,4,123,2,241,6,247
25,Odisha,909,37,5539,131,4168,122,10616,290,10906
26,Puducherry,3,0,353,14,605,37,961,51,1012
27,Punjab,254,29,1025,42,1248,89,2527,160,2687
28,Rajasthan,1090,76,15543,597,25891,2189,42524,2862,45386
29,Sikkim,32,0,164,0,603,36,799,36,835
30,Tamil Nadu,738,158,7379,523,12221,748,20338,1429,21767
31,Tripura,50,29,133,22,192,42,375,93,468
32,Uttar Pradesh,75,4,2028,132,3951,193,6054,329,6383
33,Uttarakhand,138,0,768,6,891,4,1797,10,1807
34,West Bengal,227,22,991,91,2329,121,3547,234,3781

In [57]:
df8

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,ANDHRA PRADESH,ANANTAPUR,2001,19.0,12.0,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,66
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9010,LAKSHADWEEP,LAKSHADWEEP,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9011,LAKSHADWEEP,TOTAL,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9012,PUDUCHERRY,KARAIKAL,2012,0.0,3.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,7
9013,PUDUCHERRY,PUDUCHERRY,2012,0.0,4.0,16.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,25
9014,PUDUCHERRY,TOTAL,2012,0.0,7.0,18.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,3.0,32

In [58]:
grouped_data8 = df8.drop(columns=['Year']).groupby('STATE/UT').sum()

grouped_data8.reset_index(inplace=True)

In [59]:
grouped_data8

,STATE/UT,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
0,A & N ISLANDS,18.0,148.0,134.0,8.0,0.0,10.0,0.0,0.0,0.0,0.0,172.0,490
1,ANDHRA PRADESH,1772.0,9180.0,11026.0,46.0,214.0,1190.0,1082.0,34.0,64.0,260.0,8290.0,33158
2,ARUNACHAL PRADESH,0.0,222.0,264.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,500
3,ASSAM,134.0,934.0,435.0,4.0,20.0,0.0,730.0,0.0,14.0,10.0,1159.0,3440
4,BIHAR,1704.0,1312.0,15152.0,18.0,0.0,10.0,1128.0,8.0,28.0,104.0,262.0,19726
5,CHANDIGARH,40.0,304.0,770.0,0.0,4.0,216.0,0.0,0.0,0.0,4.0,168.0,1506
6,CHHATTISGARH,1034.0,8264.0,2942.0,203.0,93.0,193.0,102.0,0.0,4.0,148.0,13922.0,26905
7,D & N HAVELI,22.0,32.0,142.0,2.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,206
8,DAMAN & DIU,8.0,26.0,18.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,16.0,76
9,DELHI,992.0,6611.0,36055.0,116.0,6.0,1025.0,22.0,26.0,26.0,6.0,5164.0,50049
10,GOA,56.0,464.0,294.0,0.0,12.0,100.0,24.0,0.0,0.0,2.0,648.0,1600
11,GUJARAT,1672.0,2298.0,10138.0,98.0,32.0,2790.0,206.0,0.0,2.0,410.0,4704.0,22350
12,HARYANA,628.0,2714.0,3466.0,180.0,20.0,450.0,16.0,4.0,10.0,90.0,1282.0,8860
13,HIMACHAL PRADESH,148.0,1320.0,1368.0,36.0,12.0,204.0,56.0,0.0,2.0,36.0,800.0,3982
14,JAMMU & KASHMIR,40.0,164.0,554.0,8.0,0.0,32.0,0.0,0.0,0.0,0.0,66.0,864
15,JHARKHAND,184.0,448.0,314.0,8.0,0.0,4.0,282.0,20.0,28.0,8.0,634.0,1930
16,KARNATAKA,1138.0,1736.0,2282.0,118.0,8.0,542.0,224.0,0.0,10.0,140.0,870.0,7068
17,KERALA,1120.0,4848.0,1768.0,8.0,28.0,124.0,334.0,0.0,0.0,68.0,5584.0,13882
18,LAKSHADWEEP,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4
19,MADHYA PRADESH,3234.0,22194.0,7362.0,468.0,198.0,2448.0,250.0,4.0,86.0,104.0,54422.0,90770
20,MAHARASHTRA,4892.0,15570.0,12792.0,240.0,212.0,6224.0,508.0,380.0,36.0,338.0,21410.0,62602
21,MANIPUR,72.0,230.0,878.0,0.0,0.0,0.0,34.0,0.0,0.0,0.0,16.0,1230
22,MEGHALAYA,118.0,992.0,224.0,0.0,0.0,0.0,36.0,0.0,0.0,8.0,62.0,1440
23,MIZORAM,68.0,648.0,46.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,80.0,846
24,NAGALAND,24.0,78.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,136
25,ODISHA,318.0,1856.0,810.0,10.0,14.0,4.0,64.0,0.0,0.0,16.0,1100.0,4192
26,PUDUCHERRY,20.0,96.0,190.0,0.0,4.0,18.0,0.0,0.0,0.0,4.0,78.0,410
27,PUNJAB,848.0,2726.0,4922.0,414.0,20.0,264.0,34.0,0.0,6.0,72.0,636.0,9942
28,RAJASTHAN,1436.0,6696.0,10008.0,368.0,18.0,2852.0,122.0,8.0,10.0,104.0,566.0,22188
29,SIKKIM,44.0,268.0,84.0,8.0,4.0,26.0,0.0,0.0,0.0,0.0,120.0,554
30,TAMIL NADU,1650.0,3556.0,5358.0,0.0,18.0,208.0,102.0,0.0,0.0,48.0,898.0,11838
31,TRIPURA,112.0,948.0,232.0,0.0,0.0,0.0,130.0,0.0,0.0,8.0,302.0,1732
32,UTTAR PRADESH,9990.0,13978.0,37012.0,106.0,146.0,4.0,178.0,6.0,46.0,52.0,10486.0,72004
33,UTTARAKHAND,168.0,372.0,500.0,1.0,2.0,2.0,174.0,0.0,0.0,0.0,156.0,1375
34,WEST BENGAL,356.0,2058.0,5622.0,4.0,30.0,28.0,2320.0,194.0,1164.0,200.0,1540.0,13516

In [60]:
df9

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,2,0,0,0,2,0,0,13
1,ANDHRA PRADESH,ANANTAPUR,2001,0,0,0,0,0,0,7,0,1,6
2,ANDHRA PRADESH,CHITTOOR,2001,0,0,0,0,0,0,2,0,0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0,0,0,0,0,0,2,0,2,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0,0,0,0,0,0,0,0,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,0,0,0,0,0,0,0,0,0,0
9016,PUDUCHERRY,PUDUCHERRY,2012,0,0,0,0,0,0,0,0,0,0
9017,PUDUCHERRY,TOTAL,2012,0,0,0,0,0,0,0,0,0,0

In [61]:
grouped_data9 = df9.drop(columns=['Year']).groupby('STATE/UT').sum()

grouped_data9.reset_index(inplace=True)

In [62]:
grouped_data9

,STATE/UT,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
0,A & N ISLANDS,2,4,2,0,0,0,2,0,14,58
1,ANDHRA PRADESH,198,904,96,0,6,38,2566,238,5052,7088
2,ARUNACHAL PRADESH,22,58,102,2,12,8,404,0,0,582
3,ASSAM,146,118,146,34,92,42,382,2,4,482
4,BIHAR,32,62,8,0,8,16,238,46,982,266
5,CHANDIGARH,0,0,0,0,0,0,0,0,0,0
6,CHHATTISGARH,440,2278,128,34,26,38,1284,10,1860,5912
7,D & N HAVELI,6,4,14,0,0,0,6,0,20,96
8,DAMAN & DIU,0,6,0,0,0,0,0,0,0,4
9,DELHI,0,0,0,0,0,0,0,0,2,0
10,GOA,0,0,0,0,0,0,0,0,4,4
11,GUJARAT,196,482,220,178,278,44,1002,10,1500,1360
12,HARYANA,0,0,0,0,0,0,0,0,0,10
13,HIMACHAL PRADESH,2,10,2,2,0,0,0,8,52,62
14,JAMMU & KASHMIR,0,0,0,0,0,2,0,0,0,14
15,JHARKHAND,296,414,188,24,38,150,1186,388,1778,1469
16,KARNATAKA,98,94,8,4,8,10,356,50,3378,2116
17,KERALA,28,706,12,0,2,14,634,0,274,786
18,LAKSHADWEEP,0,2,0,0,0,0,0,0,0,0
19,MADHYA PRADESH,1076,6696,534,12,46,230,5556,6,3396,18830
20,MAHARASHTRA,228,1150,130,34,28,110,328,2,1202,2988
21,MANIPUR,4,44,2,0,0,0,2,0,0,18
22,MEGHALAYA,0,2,2,0,0,0,0,0,0,0
23,MIZORAM,8,22,4,6,10,16,34,0,0,0
24,NAGALAND,316,50,36,68,140,6,88,0,0,1397
25,ODISHA,212,856,162,12,76,82,1970,8,5414,3908
26,PUDUCHERRY,0,0,0,0,0,0,0,0,0,0
27,PUNJAB,0,0,0,0,0,0,0,0,0,0
28,RAJASTHAN,360,942,142,0,18,226,2782,0,4030,17480
29,SIKKIM,18,26,12,2,4,8,126,2,0,58
30,TAMIL NADU,6,46,4,0,0,12,162,10,162,304
31,TRIPURA,6,56,6,0,4,2,46,0,6,198
32,UTTAR PRADESH,20,10,2,0,0,8,10,0,296,614
33,UTTARAKHAND,6,4,6,0,0,0,6,0,36,12
34,WEST BENGAL,4,90,22,0,0,0,10,2,152,244

In [63]:
df10

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,4,0,0,0,3,0,15,32
1,ANDHRA PRADESH,ANANTAPUR,2001,0,4,0,0,0,0,49,21,0,53
2,ANDHRA PRADESH,CHITTOOR,2001,3,3,0,0,0,0,38,36,0,34
3,ANDHRA PRADESH,CUDDAPAH,2001,0,3,0,0,0,0,20,52,0,25
4,ANDHRA PRADESH,EAST GODAVARI,2001,1,3,0,0,0,0,3,12,63,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,1,0,0,0,0,0,0,0,0,0
9016,PUDUCHERRY,PUDUCHERRY,2012,1,0,0,0,0,0,0,1,20,1
9017,PUDUCHERRY,TOTAL,2012,2,0,0,0,0,0,0,1,20,1

In [64]:
grouped_data10= df10.drop(columns=['Year']).groupby('STATE/UT').sum()

grouped_data10.reset_index(inplace=True)

In [65]:
grouped_data10

,STATE/UT,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,A & N ISLANDS,0,0,0,0,0,0,0,0,0,0
1,ANDHRA PRADESH,1112,2220,476,18,78,272,14496,30320,3022,34824
2,ARUNACHAL PRADESH,2,0,0,0,2,0,0,0,0,0
3,ASSAM,114,114,192,28,66,50,682,7,2,636
4,BIHAR,572,568,254,58,154,618,9048,46850,932,7628
5,CHANDIGARH,0,4,0,0,0,0,0,12,0,6
6,CHHATTISGARH,234,1322,86,2,26,34,1486,1846,48,5344
7,D & N HAVELI,0,0,4,0,0,0,0,0,0,10
8,DAMAN & DIU,0,0,0,0,0,0,0,0,0,10
9,DELHI,2,0,0,0,0,0,0,523,12,20
10,GOA,0,2,0,0,0,0,2,34,2,26
11,GUJARAT,408,650,602,170,428,230,6542,7942,110,10798
12,HARYANA,256,894,442,2,20,64,1048,1704,6,2296
13,HIMACHAL PRADESH,20,186,4,16,12,2,22,1258,70,658
14,JAMMU & KASHMIR,6,14,0,0,0,2,14,0,22,24
15,JHARKHAND,130,259,88,32,4,44,1826,4110,38,3017
16,KARNATAKA,604,658,140,34,38,40,3878,27546,964,14910
17,KERALA,72,1564,46,10,18,42,4046,2184,8,4462
18,LAKSHADWEEP,0,2,0,0,0,0,0,0,0,0
19,MADHYA PRADESH,2124,8214,1020,18,192,892,19986,5710,22,61442
20,MAHARASHTRA,486,1958,302,244,194,218,1532,6420,756,10708
21,MANIPUR,0,0,0,0,0,0,0,0,0,0
22,MEGHALAYA,0,0,0,0,0,0,0,0,0,0
23,MIZORAM,0,0,0,0,2,0,0,0,0,0
24,NAGALAND,24,12,2,0,0,0,0,0,0,60
25,ODISHA,316,1148,270,36,134,340,6562,19422,36,8548
26,PUDUCHERRY,8,0,2,0,0,0,10,24,462,14
27,PUNJAB,64,230,36,0,2,0,268,1410,10,1004
28,RAJASTHAN,1260,3818,730,2,66,962,11968,15878,14,75306
29,SIKKIM,16,34,16,0,8,4,78,6,0,36
30,TAMIL NADU,704,518,124,10,30,178,4538,21690,1000,8454
31,TRIPURA,8,30,12,0,2,2,128,16,0,168
32,UTTAR PRADESH,7154,7250,4450,110,428,1430,9778,52756,1002,68588
33,UTTARAKHAND,100,130,54,0,2,8,320,1238,0,90
34,WEST BENGAL,4,38,2,0,0,2,52,222,2,296

In [66]:
df11

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,0,6,2,...,1,186,0,2,0,1,0,44,392,787
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,0,7,17,...,20,632,0,7,2,5,0,219,1668,3494
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,21,818,0,9,2,6,0,263,2060,4281

In [67]:
grouped_data11 = df11.drop(columns=['YEAR']).groupby('STATE/UT').sum()

grouped_data11.reset_index(inplace=True)

In [68]:
grouped_data11

,STATE/UT,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,A & N ISLANDS,320,130,42,218,0,218,188,154,34,...,196,2210,12,428,86,242,0,84,8886,18204
1,ANDHRA PRADESH,63512,44840,3526,26958,4,26954,42478,29872,12606,...,23936,1093130,12430,103998,72262,238014,34,276870,964504,4037962
2,ARUNACHAL PRADESH,1682,834,72,1000,0,1000,1714,1116,598,...,500,10314,4,1568,36,334,0,1490,14792,55304
3,ASSAM,30864,11324,1436,32356,10,32346,55878,45840,10038,...,15836,138366,2552,27240,224,78776,16,60410,362708,1195528
4,BIHAR,82490,81838,7344,26248,4,26244,74440,38778,35662,...,17018,378532,27096,15152,452,51360,880,88884,1077182,2692586
5,CHANDIGARH,486,602,158,562,0,562,1280,1068,212,...,124,1632,84,628,286,1614,0,196,23210,81614
6,CHHATTISGARH,24120,15820,696,23676,0,23676,6690,5260,1430,...,6294,170052,2284,38330,3450,19146,10,50864,491710,1122054
7,D & N HAVELI,216,62,6,112,0,112,282,188,94,...,110,636,2,100,8,76,0,296,3718,9302
8,DAMAN & DIU,136,76,4,40,0,40,62,30,32,...,68,380,6,30,4,70,0,622,1322,5896
9,DELHI UT,12410,10554,1766,12848,0,12848,50166,31300,18866,...,1128,44420,3164,15068,3374,30422,2,15006,474914,1266348
10,GOA,974,538,134,700,0,700,472,328,144,...,544,4574,38,656,246,382,0,5328,19896,64102
11,GUJARAT,27550,12224,860,8498,0,8498,30492,25836,4656,...,11294,270436,1004,17996,2730,118862,0,108770,1459368,2771550
12,HARYANA,20942,14868,1714,12820,2,12818,17312,12258,5054,...,3812,102508,6260,10646,16376,54224,0,30394,449688,1190606
13,HIMACHAL PRADESH,2908,1670,260,3608,0,3608,3596,3082,514,...,2968,31818,110,7194,878,6490,0,12618,174356,309896
14,JAMMU & KASHMIR,12608,20606,694,5620,0,5620,19330,17640,1690,...,6332,7766,270,23018,7986,3600,0,9048,265842,518310
15,JHARKHAND,38120,24540,2462,18318,10,18308,16952,10564,6388,...,4024,80474,6582,7970,494,16818,290,27224,308478,844702
16,KARNATAKA,39874,37024,1714,10348,4,10344,20058,10630,9428,...,7422,502664,5836,47398,1662,60104,94,10156,1362672,2962126
17,KERALA,9466,10654,3794,14894,0,14894,5782,3796,1986,...,11160,464902,602,62980,6608,92148,0,978,1659766,2874918
18,LAKSHADWEEP,6,12,0,14,0,14,2,2,0,...,44,114,0,10,0,14,0,0,654,1486
19,MADHYA PRADESH,56798,58916,3668,72174,2,72172,23916,18486,5430,...,20708,825154,18072,159756,18634,79938,120,129938,2393164,4827540
20,MAHARASHTRA,65534,41178,2818,35972,4,35968,30202,21706,8496,...,29030,707520,8498,78438,24220,160726,4,269226,1120120,4546872
21,MANIPUR,3910,7072,84,774,0,774,3622,2114,1508,...,1904,6866,4,1008,6,438,0,174,25474,70144
22,MEGHALAYA,3460,1202,168,2040,0,2040,1458,528,930,...,886,3472,30,1064,16,330,8,1364,12528,50498
23,MIZORAM,806,516,134,1652,2,1650,192,20,172,...,534,2432,8,1632,12,108,6,630,11824,52292
24,NAGALAND,2076,928,202,440,0,440,784,142,642,...,140,1064,0,192,20,18,2,744,6100,26266
25,ODISHA,28906,31304,1396,22860,0,22860,19458,16582,2876,...,10560,151522,9110,59892,5878,37394,36,73014,492412,1295892
26,PUDUCHERRY,714,686,156,154,0,154,338,242,96,...,380,21388,52,1226,568,210,0,5204,54980,108232
27,PUNJAB,18986,20794,3116,10918,2,10916,15238,10770,4468,...,1814,113840,3092,8094,1524,23996,4,66678,232054,768262
28,RAJASTHAN,31688,42684,1778,31596,0,31596,61454,49342,12112,...,16624,534706,10132,61706,708,200202,12,156700,1569982,3711832
29,SIKKIM,332,222,76,390,0,390,152,124,28,...,160,1878,4,460,28,88,0,844,4074,14000
30,TAMIL NADU,40254,53194,686,13904,4,13900,30606,24872,5734,...,16298,561346,4634,38658,20086,36376,30,280386,2372230,4120352
31,TRIPURA,4044,1362,38,4116,0,4116,2886,1750,1136,...,1096,18612,628,5546,78,13028,0,3084,28088,105468
32,UTTAR PRADESH,130886,121040,34532,38116,4,38112,118532,95180,23352,...,9108,279500,47648,59396,53022,155234,6,227642,1253898,3716148
33,UTTARAKHAND,5896,5254,1028,2756,0,2756,5704,4668,1036,...,628,21220,1812,3090,3038,8284,2,13360,52676,206408
34,WEST BENGAL,42112,29386,12666,41574,0,41574,51998,43546,8452,...,4728,188304,10344,45742,3108,261336,228,75502,852388,2238608

In [69]:
df_phase1['STATE/UT'] = df_phase1['STATE/UT'].str.lower()
grouped_data['STATE/UT'] = grouped_data['STATE/UT'].str.lower()
grouped_data1['STATE/UT'] =grouped_data1['STATE/UT'].str.lower()
grouped_data3['STATE/UT'] =grouped_data3['STATE/UT'].str.lower()
grouped_data4['STATE/UT'] =grouped_data4['STATE/UT'].str.lower()
grouped_data5['STATE/UT'] =grouped_data5['STATE/UT'].str.lower()
grouped_data6['STATE/UT'] =grouped_data6['STATE/UT'].str.lower()
grouped_data7['STATE/UT'] =grouped_data7['STATE/UT'].str.lower()
grouped_data8['STATE/UT'] =grouped_data8['STATE/UT'].str.lower()
grouped_data9['STATE/UT'] =grouped_data9['STATE/UT'].str.lower()
grouped_data10['STATE/UT'] =grouped_data10['STATE/UT'].str.lower()
grouped_data11['STATE/UT'] =grouped_data11['STATE/UT'].str.lower()

# merging the data

In [70]:
df_phase1.columns

Index(['STATE/UT', 'Population', 'Increase', 'Area(Km2)', 'Density',
       'Sex-Ratio', 'Literacy'],
      dtype='object')

In [71]:
grouped_data1.columns

Index(['STATE/UT', 'Rape', 'Kidnapping and Abduction', 'Dowry Deaths',
       'Assault on women with intent to outrage her modesty',
       'Insult to modesty of Women', 'Cruelty by Husband or his Relatives',
       'Importation of Girls'],
      dtype='object')

In [72]:
merged_df1 = pd.merge(df_phase1, grouped_data, on='STATE/UT', how='outer')

In [73]:
merged_df1

,STATE/UT,Population,Increase,Area(Km2),Density,Sex-Ratio,Literacy,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted
0,india,1.210855e+09,0.1764,3287240.0,382.0,940.0,74.04,NaN,NaN,NaN
1,uttar pradesh,1.998123e+08,0.2023,240928.0,829.0,912.0,67.68,108.0,154.0,0.0
2,maharashtra,1.123743e+08,0.1599,307713.0,365.0,929.0,82.34,90.0,78.0,0.0
3,bihar,1.040995e+08,0.2542,94163.0,1106.0,918.0,61.80,52.0,26.0,16.0
4,west bengal,9.127612e+07,0.1384,88752.0,1028.0,950.0,76.26,28.0,16.0,0.0
5,andhra pradesh,8.458078e+07,0.1098,275045.0,308.0,993.0,67.02,226.0,110.0,4.0
6,madhya pradesh,7.262681e+07,0.2035,308252.0,236.0,931.0,69.32,16.0,14.0,6.0
7,tamil nadu,7.214703e+07,0.1561,130060.0,555.0,996.0,80.09,22.0,18.0,0.0
8,rajasthan,6.854844e+07,0.2131,342239.0,200.0,928.0,66.11,16.0,8.0,0.0
9,karnataka,6.109530e+07,0.1560,191791.0,319.0,973.0,75.36,74.0,18.0,0.0
10,gujarat,6.043969e+07,0.1928,196244.0,308.0,919.0,78.03,226.0,166.0,0.0
11,orissa,4.197422e+07,0.1405,155707.0,270.0,979.0,72.87,NaN,NaN,NaN
12,kerala,3.340606e+07,0.0491,38852.0,860.0,1084.0,94.00,16.0,2.0,0.0
13,jharkhand,3.298813e+07,0.2242,79716.0,414.0,948.0,66.41,6.0,2.0,0.0
14,assam,3.120558e+07,0.1707,78438.0,398.0,958.0,72.19,302.0,4.0,0.0
15,punjab,2.774334e+07,0.1389,50362.0,551.0,895.0,75.84,22.0,10.0,0.0
16,chhattisgarh,2.554520e+07,0.2261,135192.0,189.0,991.0,70.28,624.0,142.0,138.0
17,haryana,2.535146e+07,0.1990,44212.0,573.0,879.0,75.55,22.0,14.0,0.0
18,delhi,1.678794e+07,0.2121,1483.0,11320.0,868.0,86.21,24.0,32.0,0.0
19,jammu and kashmir,1.254130e+07,0.2364,222236.0,56.0,889.0,67.16,NaN,NaN,NaN
20,uttarakhand,1.008629e+07,0.1881,53483.0,189.0,963.0,78.82,2.0,0.0,0.0
21,himachal pradesh,6.864602e+06,0.1294,55673.0,123.0,972.0,82.80,0.0,0.0,0.0
22,tripura,3.673917e+06,0.1484,10486.0,350.0,960.0,87.22,0.0,0.0,0.0
23,meghalaya,2.966889e+06,0.2795,22429.0,132.0,989.0,74.43,0.0,0.0,0.0
24,manipur,2.855794e+06,0.2450,22327.0,128.0,985.0,76.94,6.0,0.0,0.0
25,nagaland,1.978502e+06,-0.0058,16579.0,119.0,931.0,79.55,0.0,0.0,0.0
26,goa,1.458545e+06,0.0823,3702.0,394.0,973.0,88.70,6.0,2.0,0.0
27,arunachal pradesh,1.383727e+06,0.2603,83743.0,17.0,938.0,65.38,40.0,12.0,0.0
28,puducherry,1.247953e+06,0.2808,490.0,2547.0,1037.0,85.85,2.0,0.0,0.0
29,mizoram,1.097206e+06,0.2348,21081.0,52.0,976.0,91.33,0.0,0.0,0.0
30,chandigarh,1.055450e+06,0.1719,114.0,9258.0,818.0,86.05,2.0,0.0,0.0
31,sikkim,6.105770e+05,0.1289,7096.0,86.0,890.0,81.42,NaN,NaN,NaN
32,andaman and nicobar islands,3.805810e+05,0.0686,8249.0,46.0,876.0,86.63,NaN,NaN,NaN
33,dadra and nagar haveli,3.437090e+05,0.5588,491.0,700.0,774.0,76.24,NaN,NaN,NaN
34,daman and diu,2.432470e+05,0.5376,111.0,2191.0,618.0,87.10,NaN,NaN,NaN
35,lakshadweep,6.447300e+04,0.0630,30.0,2149.0,946.0,91.85,NaN,NaN,NaN
36,daman & diu,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
37,jammu & kashmir,NaN,NaN,NaN,NaN,NaN,NaN,36.0,26.0,0.0
38,odisha,NaN,NaN,NaN,NaN,NaN,NaN,62.0,18.0,0.0

In [74]:
dataframes_to_merge = [df_phase1, grouped_data,grouped_data1,grouped_data3,grouped_data4,grouped_data5,grouped_data6,grouped_data7,grouped_data8,grouped_data9,grouped_data10,grouped_data11]

In [75]:
merged_df = dataframes_to_merge[0]

In [76]:
for df in dataframes_to_merge[1:]:
    merged_df = pd.merge(merged_df, df, on='STATE/UT', how='outer')

In [77]:
merged_df

,STATE/UT,Population,Increase,Area(Km2),Density,Sex-Ratio,Literacy,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,india,1.210855e+09,0.1764,3287240.0,382.0,940.0,74.04,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,uttar pradesh,1.998123e+08,0.2023,240928.0,829.0,912.0,67.68,108.0,154.0,0.0,...,9108.0,279500.0,47648.0,59396.0,53022.0,155234.0,6.0,227642.0,1253898.0,3716148.0
2,maharashtra,1.123743e+08,0.1599,307713.0,365.0,929.0,82.34,90.0,78.0,0.0,...,29030.0,707520.0,8498.0,78438.0,24220.0,160726.0,4.0,269226.0,1120120.0,4546872.0
3,bihar,1.040995e+08,0.2542,94163.0,1106.0,918.0,61.80,52.0,26.0,16.0,...,17018.0,378532.0,27096.0,15152.0,452.0,51360.0,880.0,88884.0,1077182.0,2692586.0
4,west bengal,9.127612e+07,0.1384,88752.0,1028.0,950.0,76.26,28.0,16.0,0.0,...,4728.0,188304.0,10344.0,45742.0,3108.0,261336.0,228.0,75502.0,852388.0,2238608.0
5,andhra pradesh,8.458078e+07,0.1098,275045.0,308.0,993.0,67.02,226.0,110.0,4.0,...,23936.0,1093130.0,12430.0,103998.0,72262.0,238014.0,34.0,276870.0,964504.0,4037962.0
6,madhya pradesh,7.262681e+07,0.2035,308252.0,236.0,931.0,69.32,16.0,14.0,6.0,...,20708.0,825154.0,18072.0,159756.0,18634.0,79938.0,120.0,129938.0,2393164.0,4827540.0
7,tamil nadu,7.214703e+07,0.1561,130060.0,555.0,996.0,80.09,22.0,18.0,0.0,...,16298.0,561346.0,4634.0,38658.0,20086.0,36376.0,30.0,280386.0,2372230.0,4120352.0
8,rajasthan,6.854844e+07,0.2131,342239.0,200.0,928.0,66.11,16.0,8.0,0.0,...,16624.0,534706.0,10132.0,61706.0,708.0,200202.0,12.0,156700.0,1569982.0,3711832.0
9,karnataka,6.109530e+07,0.1560,191791.0,319.0,973.0,75.36,74.0,18.0,0.0,...,7422.0,502664.0,5836.0,47398.0,1662.0,60104.0,94.0,10156.0,1362672.0,2962126.0
10,gujarat,6.043969e+07,0.1928,196244.0,308.0,919.0,78.03,226.0,166.0,0.0,...,11294.0,270436.0,1004.0,17996.0,2730.0,118862.0,0.0,108770.0,1459368.0,2771550.0
11,orissa,4.197422e+07,0.1405,155707.0,270.0,979.0,72.87,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,kerala,3.340606e+07,0.0491,38852.0,860.0,1084.0,94.00,16.0,2.0,0.0,...,11160.0,464902.0,602.0,62980.0,6608.0,92148.0,0.0,978.0,1659766.0,2874918.0
13,jharkhand,3.298813e+07,0.2242,79716.0,414.0,948.0,66.41,6.0,2.0,0.0,...,4024.0,80474.0,6582.0,7970.0,494.0,16818.0,290.0,27224.0,308478.0,844702.0
14,assam,3.120558e+07,0.1707,78438.0,398.0,958.0,72.19,302.0,4.0,0.0,...,15836.0,138366.0,2552.0,27240.0,224.0,78776.0,16.0,60410.0,362708.0,1195528.0
15,punjab,2.774334e+07,0.1389,50362.0,551.0,895.0,75.84,22.0,10.0,0.0,...,1814.0,113840.0,3092.0,8094.0,1524.0,23996.0,4.0,66678.0,232054.0,768262.0
16,chhattisgarh,2.554520e+07,0.2261,135192.0,189.0,991.0,70.28,624.0,142.0,138.0,...,6294.0,170052.0,2284.0,38330.0,3450.0,19146.0,10.0,50864.0,491710.0,1122054.0
17,haryana,2.535146e+07,0.1990,44212.0,573.0,879.0,75.55,22.0,14.0,0.0,...,3812.0,102508.0,6260.0,10646.0,16376.0,54224.0,0.0,30394.0,449688.0,1190606.0
18,delhi,1.678794e+07,0.2121,1483.0,11320.0,868.0,86.21,24.0,32.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,jammu and kashmir,1.254130e+07,0.2364,222236.0,56.0,889.0,67.16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,uttarakhand,1.008629e+07,0.1881,53483.0,189.0,963.0,78.82,2.0,0.0,0.0,...,628.0,21220.0,1812.0,3090.0,3038.0,8284.0,2.0,13360.0,52676.0,206408.0
21,himachal pradesh,6.864602e+06,0.1294,55673.0,123.0,972.0,82.80,0.0,0.0,0.0,...,2968.0,31818.0,110.0,7194.0,878.0,6490.0,0.0,12618.0,174356.0,309896.0
22,tripura,3.673917e+06,0.1484,10486.0,350.0,960.0,87.22,0.0,0.0,0.0,...,1096.0,18612.0,628.0,5546.0,78.0,13028.0,0.0,3084.0,28088.0,105468.0
23,meghalaya,2.966889e+06,0.2795,22429.0,132.0,989.0,74.43,0.0,0.0,0.0,...,886.0,3472.0,30.0,1064.0,16.0,330.0,8.0,1364.0,12528.0,50498.0
24,manipur,2.855794e+06,0.2450,22327.0,128.0,985.0,76.94,6.0,0.0,0.0,...,1904.0,6866.0,4.0,1008.0,6.0,438.0,0.0,174.0,25474.0,70144.0
25,nagaland,1.978502e+06,-0.0058,16579.0,119.0,931.0,79.55,0.0,0.0,0.0,...,140.0,1064.0,0.0,192.0,20.0,18.0,2.0,744.0,6100.0,26266.0
26,goa,1.458545e+06,0.0823,3702.0,394.0,973.0,88.70,6.0,2.0,0.0,...,544.0,4574.0,38.0,656.0,246.0,382.0,0.0,5328.0,19896.0,64102.0
27,arunachal pradesh,1.383727e+06,0.2603,83743.0,17.0,938.0,65.38,40.0,12.0,0.0,...,500.0,10314.0,4.0,1568.0,36.0,334.0,0.0,1490.0,14792.0,55304.0
28,puducherry,1.247953e+06,0.2808,490.0,2547.0,1037.0,85.85,2.0,0.0,0.0,...,380.0,21388.0,52.0,1226.0,568.0,210.0,0.0,5204.0,54980.0,108232.0
29,mizoram,1.097206e+06,0.2348,21081.0,52.0,976.0,91.33,0.0,0.0,0.0,...,534.0,2432.0,8.0,1632.0,12.0,108.0,6.0,630.0,11824.0,52292.0
30,chandigarh,1.055450e+06,0.1719,114.0,9258.0,818.0,86.05,2.0,0.0,0.0,...,124.0,1632.0,84.0,628.0,286.0,1614.0,0.0,196.0,23210.0,81614.0
31,sikkim,6.105770e+05,0.1289,7096.0,86.0,890.0,81.42,NaN,NaN,NaN,...,160.0,1878.0,4.0,460.0,28.0,88.0,0.0,844.0,4074.0,14000.0
32,andaman and nicobar islands,3.805810e+05,0.0686,8249.0,46.0,876.0,86.63,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,dadra and nagar haveli,3.437090e+05,0.5588,491.0,700.0,774.0,76.24,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,daman and diu,2.432470e+05,0.5376,111.0,2191.0,618.0,87.10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,lakshadweep,6.447300e+04,0.0630,30.0,2149.0,946.0,91.85,NaN,NaN,NaN,...,44.0,114.0,0.0,10.0,0.0,14.0,0.0,0.0,654.0,1486.0
36,daman & diu,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,68.0,380.0,6.0,30.0,4.0,70.0,0.0,622.0,1322.0,5896.0
37,jammu & kashmir,NaN,NaN,NaN,NaN,NaN,NaN,36.0,26.0,0.0,...,6332.0,7766.0,270.0,23018.0,7986.0,3600.0,0.0,9048.0,265842.0,518310.0
38,odisha,NaN,NaN,NaN,NaN,NaN,NaN,62.0,18.0,0.0,...,10560.0,151522.0,9110.0,59892.0,5878.0,37394.0,36.0,73014.0,492412.0,1295892.0
39,a & n islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,196.0,2210.0,12.0,428.0,86.0,242.0,0.0,84.0,8886.0,18204.0
40,d & n haveli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,110.0,636.0,2.0,100.0,8.0,76.0,0.0,296.0,3718.0,9302.0
41,total (all-india),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,total (states),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,total (uts),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,a&n islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,d&n haveli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,delhi ut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1128.0,44420.0,3164.0,15068.0,3374.0,30422.0,2.0,15006.0,474914.0,1266348.0
47,andaman & nicobar islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,dadra & nagar haveli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
r = merged_df['STATE/UT']

In [79]:
r

0                           india
1                   uttar pradesh
2                     maharashtra
3                           bihar
4                     west bengal
5                  andhra pradesh
6                  madhya pradesh
7                      tamil nadu
8                       rajasthan
9                       karnataka
10                        gujarat
11                         orissa
12                         kerala
13                      jharkhand
14                          assam
15                         punjab
16                   chhattisgarh
17                        haryana
18                          delhi
19              jammu and kashmir
20                    uttarakhand
21               himachal pradesh
22                        tripura
23                      meghalaya
24                        manipur
25                       nagaland
26                            goa
27              arunachal pradesh
28                     puducherry
29                        mizoram
30                     chandigarh
31                         sikkim
32    andaman and nicobar islands
33         dadra and nagar haveli
34                  daman and diu
35                    lakshadweep
36                    daman & diu
37                jammu & kashmir
38                         odisha
39                  a & n islands
40                   d & n haveli
41              total (all-india)
42                 total (states)
43                    total (uts)
44                    a&n islands
45                     d&n haveli
46                       delhi ut
47      andaman & nicobar islands
48           dadra & nagar haveli
Name: STATE/UT, dtype: object

In [80]:

sorted_df = merged_df.sort_values(by='STATE/UT', ascending=True)

In [81]:
sorted_df

,STATE/UT,Population,Increase,Area(Km2),Density,Sex-Ratio,Literacy,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
39,a & n islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,196.0,2210.0,12.0,428.0,86.0,242.0,0.0,84.0,8886.0,18204.0
44,a&n islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,andaman & nicobar islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,andaman and nicobar islands,3.805810e+05,0.0686,8249.0,46.0,876.0,86.63,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,andhra pradesh,8.458078e+07,0.1098,275045.0,308.0,993.0,67.02,226.0,110.0,4.0,...,23936.0,1093130.0,12430.0,103998.0,72262.0,238014.0,34.0,276870.0,964504.0,4037962.0
27,arunachal pradesh,1.383727e+06,0.2603,83743.0,17.0,938.0,65.38,40.0,12.0,0.0,...,500.0,10314.0,4.0,1568.0,36.0,334.0,0.0,1490.0,14792.0,55304.0
14,assam,3.120558e+07,0.1707,78438.0,398.0,958.0,72.19,302.0,4.0,0.0,...,15836.0,138366.0,2552.0,27240.0,224.0,78776.0,16.0,60410.0,362708.0,1195528.0
3,bihar,1.040995e+08,0.2542,94163.0,1106.0,918.0,61.80,52.0,26.0,16.0,...,17018.0,378532.0,27096.0,15152.0,452.0,51360.0,880.0,88884.0,1077182.0,2692586.0
30,chandigarh,1.055450e+06,0.1719,114.0,9258.0,818.0,86.05,2.0,0.0,0.0,...,124.0,1632.0,84.0,628.0,286.0,1614.0,0.0,196.0,23210.0,81614.0
16,chhattisgarh,2.554520e+07,0.2261,135192.0,189.0,991.0,70.28,624.0,142.0,138.0,...,6294.0,170052.0,2284.0,38330.0,3450.0,19146.0,10.0,50864.0,491710.0,1122054.0
40,d & n haveli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,110.0,636.0,2.0,100.0,8.0,76.0,0.0,296.0,3718.0,9302.0
45,d&n haveli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,dadra & nagar haveli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,dadra and nagar haveli,3.437090e+05,0.5588,491.0,700.0,774.0,76.24,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,daman & diu,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,68.0,380.0,6.0,30.0,4.0,70.0,0.0,622.0,1322.0,5896.0
34,daman and diu,2.432470e+05,0.5376,111.0,2191.0,618.0,87.10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,delhi,1.678794e+07,0.2121,1483.0,11320.0,868.0,86.21,24.0,32.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,delhi ut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1128.0,44420.0,3164.0,15068.0,3374.0,30422.0,2.0,15006.0,474914.0,1266348.0
26,goa,1.458545e+06,0.0823,3702.0,394.0,973.0,88.70,6.0,2.0,0.0,...,544.0,4574.0,38.0,656.0,246.0,382.0,0.0,5328.0,19896.0,64102.0
10,gujarat,6.043969e+07,0.1928,196244.0,308.0,919.0,78.03,226.0,166.0,0.0,...,11294.0,270436.0,1004.0,17996.0,2730.0,118862.0,0.0,108770.0,1459368.0,2771550.0
17,haryana,2.535146e+07,0.1990,44212.0,573.0,879.0,75.55,22.0,14.0,0.0,...,3812.0,102508.0,6260.0,10646.0,16376.0,54224.0,0.0,30394.0,449688.0,1190606.0
21,himachal pradesh,6.864602e+06,0.1294,55673.0,123.0,972.0,82.80,0.0,0.0,0.0,...,2968.0,31818.0,110.0,7194.0,878.0,6490.0,0.0,12618.0,174356.0,309896.0
0,india,1.210855e+09,0.1764,3287240.0,382.0,940.0,74.04,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,jammu & kashmir,NaN,NaN,NaN,NaN,NaN,NaN,36.0,26.0,0.0,...,6332.0,7766.0,270.0,23018.0,7986.0,3600.0,0.0,9048.0,265842.0,518310.0
19,jammu and kashmir,1.254130e+07,0.2364,222236.0,56.0,889.0,67.16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,jharkhand,3.298813e+07,0.2242,79716.0,414.0,948.0,66.41,6.0,2.0,0.0,...,4024.0,80474.0,6582.0,7970.0,494.0,16818.0,290.0,27224.0,308478.0,844702.0
9,karnataka,6.109530e+07,0.1560,191791.0,319.0,973.0,75.36,74.0,18.0,0.0,...,7422.0,502664.0,5836.0,47398.0,1662.0,60104.0,94.0,10156.0,1362672.0,2962126.0
12,kerala,3.340606e+07,0.0491,38852.0,860.0,1084.0,94.00,16.0,2.0,0.0,...,11160.0,464902.0,602.0,62980.0,6608.0,92148.0,0.0,978.0,1659766.0,2874918.0
35,lakshadweep,6.447300e+04,0.0630,30.0,2149.0,946.0,91.85,NaN,NaN,NaN,...,44.0,114.0,0.0,10.0,0.0,14.0,0.0,0.0,654.0,1486.0
6,madhya pradesh,7.262681e+07,0.2035,308252.0,236.0,931.0,69.32,16.0,14.0,6.0,...,20708.0,825154.0,18072.0,159756.0,18634.0,79938.0,120.0,129938.0,2393164.0,4827540.0
2,maharashtra,1.123743e+08,0.1599,307713.0,365.0,929.0,82.34,90.0,78.0,0.0,...,29030.0,707520.0,8498.0,78438.0,24220.0,160726.0,4.0,269226.0,1120120.0,4546872.0
24,manipur,2.855794e+06,0.2450,22327.0,128.0,985.0,76.94,6.0,0.0,0.0,...,1904.0,6866.0,4.0,1008.0,6.0,438.0,0.0,174.0,25474.0,70144.0
23,meghalaya,2.966889e+06,0.2795,22429.0,132.0,989.0,74.43,0.0,0.0,0.0,...,886.0,3472.0,30.0,1064.0,16.0,330.0,8.0,1364.0,12528.0,50498.0
29,mizoram,1.097206e+06,0.2348,21081.0,52.0,976.0,91.33,0.0,0.0,0.0,...,534.0,2432.0,8.0,1632.0,12.0,108.0,6.0,630.0,11824.0,52292.0
25,nagaland,1.978502e+06,-0.0058,16579.0,119.0,931.0,79.55,0.0,0.0,0.0,...,140.0,1064.0,0.0,192.0,20.0,18.0,2.0,744.0,6100.0,26266.0
38,odisha,NaN,NaN,NaN,NaN,NaN,NaN,62.0,18.0,0.0,...,10560.0,151522.0,9110.0,59892.0,5878.0,37394.0,36.0,73014.0,492412.0,1295892.0
11,orissa,4.197422e+07,0.1405,155707.0,270.0,979.0,72.87,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,puducherry,1.247953e+06,0.2808,490.0,2547.0,1037.0,85.85,2.0,0.0,0.0,...,380.0,21388.0,52.0,1226.0,568.0,210.0,0.0,5204.0,54980.0,108232.0
15,punjab,2.774334e+07,0.1389,50362.0,551.0,895.0,75.84,22.0,10.0,0.0,...,1814.0,113840.0,3092.0,8094.0,1524.0,23996.0,4.0,66678.0,232054.0,768262.0
8,rajasthan,6.854844e+07,0.2131,342239.0,200.0,928.0,66.11,16.0,8.0,0.0,...,16624.0,534706.0,10132.0,61706.0,708.0,200202.0,12.0,156700.0,1569982.0,3711832.0
31,sikkim,6.105770e+05,0.1289,7096.0,86.0,890.0,81.42,NaN,NaN,NaN,...,160.0,1878.0,4.0,460.0,28.0,88.0,0.0,844.0,4074.0,14000.0
7,tamil nadu,7.214703e+07,0.1561,130060.0,555.0,996.0,80.09,22.0,18.0,0.0,...,16298.0,561346.0,4634.0,38658.0,20086.0,36376.0,30.0,280386.0,2372230.0,4120352.0
41,total (all-india),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,total (states),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,total (uts),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,tripura,3.673917e+06,0.1484,10486.0,350.0,960.0,87.22,0.0,0.0,0.0,...,1096.0,18612.0,628.0,5546.0,78.0,13028.0,0.0,3084.0,28088.0,105468.0
1,uttar pradesh,1.998123e+08,0.2023,240928.0,829.0,912.0,67.68,108.0,154.0,0.0,...,9108.0,279500.0,47648.0,59396.0,53022.0,155234.0,6.0,227642.0,1253898.0,3716148.0
20,uttarakhand,1.008629e+07,0.1881,53483.0,189.0,963.0,78.82,2.0,0.0,0.0,...,628.0,21220.0,1812.0,3090.0,3038.0,8284.0,2.0,13360.0,52676.0,206408.0
4,west bengal,9.127612e+07,0.1384,88752.0,1028.0,950.0,76.26,28.0,16.0,0.0,...,4728.0,188304.0,10344.0,45742.0,3108.0,261336.0,228.0,75502.0,852388.0,2238608.0

In [82]:
indices_to_drop = [39, 47,40,48,36,46,0,37,38,41,42,43]

In [83]:
df1 = merged_df[~merged_df.index.isin(indices_to_drop)]

In [85]:
df1 = df1.reset_index(drop=True)

In [86]:
df1

,STATE/UT,Population,Increase,Area(Km2),Density,Sex-Ratio,Literacy,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,uttar pradesh,199812341.0,0.2023,240928.0,829.0,912.0,67.68,108.0,154.0,0.0,...,9108.0,279500.0,47648.0,59396.0,53022.0,155234.0,6.0,227642.0,1253898.0,3716148.0
1,maharashtra,112374333.0,0.1599,307713.0,365.0,929.0,82.34,90.0,78.0,0.0,...,29030.0,707520.0,8498.0,78438.0,24220.0,160726.0,4.0,269226.0,1120120.0,4546872.0
2,bihar,104099452.0,0.2542,94163.0,1106.0,918.0,61.80,52.0,26.0,16.0,...,17018.0,378532.0,27096.0,15152.0,452.0,51360.0,880.0,88884.0,1077182.0,2692586.0
3,west bengal,91276115.0,0.1384,88752.0,1028.0,950.0,76.26,28.0,16.0,0.0,...,4728.0,188304.0,10344.0,45742.0,3108.0,261336.0,228.0,75502.0,852388.0,2238608.0
4,andhra pradesh,84580777.0,0.1098,275045.0,308.0,993.0,67.02,226.0,110.0,4.0,...,23936.0,1093130.0,12430.0,103998.0,72262.0,238014.0,34.0,276870.0,964504.0,4037962.0
5,madhya pradesh,72626809.0,0.2035,308252.0,236.0,931.0,69.32,16.0,14.0,6.0,...,20708.0,825154.0,18072.0,159756.0,18634.0,79938.0,120.0,129938.0,2393164.0,4827540.0
6,tamil nadu,72147030.0,0.1561,130060.0,555.0,996.0,80.09,22.0,18.0,0.0,...,16298.0,561346.0,4634.0,38658.0,20086.0,36376.0,30.0,280386.0,2372230.0,4120352.0
7,rajasthan,68548437.0,0.2131,342239.0,200.0,928.0,66.11,16.0,8.0,0.0,...,16624.0,534706.0,10132.0,61706.0,708.0,200202.0,12.0,156700.0,1569982.0,3711832.0
8,karnataka,61095297.0,0.1560,191791.0,319.0,973.0,75.36,74.0,18.0,0.0,...,7422.0,502664.0,5836.0,47398.0,1662.0,60104.0,94.0,10156.0,1362672.0,2962126.0
9,gujarat,60439692.0,0.1928,196244.0,308.0,919.0,78.03,226.0,166.0,0.0,...,11294.0,270436.0,1004.0,17996.0,2730.0,118862.0,0.0,108770.0,1459368.0,2771550.0
10,orissa,41974218.0,0.1405,155707.0,270.0,979.0,72.87,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,kerala,33406061.0,0.0491,38852.0,860.0,1084.0,94.00,16.0,2.0,0.0,...,11160.0,464902.0,602.0,62980.0,6608.0,92148.0,0.0,978.0,1659766.0,2874918.0
12,jharkhand,32988134.0,0.2242,79716.0,414.0,948.0,66.41,6.0,2.0,0.0,...,4024.0,80474.0,6582.0,7970.0,494.0,16818.0,290.0,27224.0,308478.0,844702.0
13,assam,31205576.0,0.1707,78438.0,398.0,958.0,72.19,302.0,4.0,0.0,...,15836.0,138366.0,2552.0,27240.0,224.0,78776.0,16.0,60410.0,362708.0,1195528.0
14,punjab,27743338.0,0.1389,50362.0,551.0,895.0,75.84,22.0,10.0,0.0,...,1814.0,113840.0,3092.0,8094.0,1524.0,23996.0,4.0,66678.0,232054.0,768262.0
15,chhattisgarh,25545198.0,0.2261,135192.0,189.0,991.0,70.28,624.0,142.0,138.0,...,6294.0,170052.0,2284.0,38330.0,3450.0,19146.0,10.0,50864.0,491710.0,1122054.0
16,haryana,25351462.0,0.1990,44212.0,573.0,879.0,75.55,22.0,14.0,0.0,...,3812.0,102508.0,6260.0,10646.0,16376.0,54224.0,0.0,30394.0,449688.0,1190606.0
17,delhi,16787941.0,0.2121,1483.0,11320.0,868.0,86.21,24.0,32.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,jammu and kashmir,12541302.0,0.2364,222236.0,56.0,889.0,67.16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,uttarakhand,10086292.0,0.1881,53483.0,189.0,963.0,78.82,2.0,0.0,0.0,...,628.0,21220.0,1812.0,3090.0,3038.0,8284.0,2.0,13360.0,52676.0,206408.0
20,himachal pradesh,6864602.0,0.1294,55673.0,123.0,972.0,82.80,0.0,0.0,0.0,...,2968.0,31818.0,110.0,7194.0,878.0,6490.0,0.0,12618.0,174356.0,309896.0
21,tripura,3673917.0,0.1484,10486.0,350.0,960.0,87.22,0.0,0.0,0.0,...,1096.0,18612.0,628.0,5546.0,78.0,13028.0,0.0,3084.0,28088.0,105468.0
22,meghalaya,2966889.0,0.2795,22429.0,132.0,989.0,74.43,0.0,0.0,0.0,...,886.0,3472.0,30.0,1064.0,16.0,330.0,8.0,1364.0,12528.0,50498.0
23,manipur,2855794.0,0.2450,22327.0,128.0,985.0,76.94,6.0,0.0,0.0,...,1904.0,6866.0,4.0,1008.0,6.0,438.0,0.0,174.0,25474.0,70144.0
24,nagaland,1978502.0,-0.0058,16579.0,119.0,931.0,79.55,0.0,0.0,0.0,...,140.0,1064.0,0.0,192.0,20.0,18.0,2.0,744.0,6100.0,26266.0
25,goa,1458545.0,0.0823,3702.0,394.0,973.0,88.70,6.0,2.0,0.0,...,544.0,4574.0,38.0,656.0,246.0,382.0,0.0,5328.0,19896.0,64102.0
26,arunachal pradesh,1383727.0,0.2603,83743.0,17.0,938.0,65.38,40.0,12.0,0.0,...,500.0,10314.0,4.0,1568.0,36.0,334.0,0.0,1490.0,14792.0,55304.0
27,puducherry,1247953.0,0.2808,490.0,2547.0,1037.0,85.85,2.0,0.0,0.0,...,380.0,21388.0,52.0,1226.0,568.0,210.0,0.0,5204.0,54980.0,108232.0
28,mizoram,1097206.0,0.2348,21081.0,52.0,976.0,91.33,0.0,0.0,0.0,...,534.0,2432.0,8.0,1632.0,12.0,108.0,6.0,630.0,11824.0,52292.0
29,chandigarh,1055450.0,0.1719,114.0,9258.0,818.0,86.05,2.0,0.0,0.0,...,124.0,1632.0,84.0,628.0,286.0,1614.0,0.0,196.0,23210.0,81614.0
30,sikkim,610577.0,0.1289,7096.0,86.0,890.0,81.42,NaN,NaN,NaN,...,160.0,1878.0,4.0,460.0,28.0,88.0,0.0,844.0,4074.0,14000.0
31,andaman and nicobar islands,380581.0,0.0686,8249.0,46.0,876.0,86.63,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,dadra and nagar haveli,343709.0,0.5588,491.0,700.0,774.0,76.24,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,daman and diu,243247.0,0.5376,111.0,2191.0,618.0,87.10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,lakshadweep,64473.0,0.0630,30.0,2149.0,946.0,91.85,NaN,NaN,NaN,...,44.0,114.0,0.0,10.0,0.0,14.0,0.0,0.0,654.0,1486.0
35,a&n islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,d&n haveli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
df1.isnull().sum().sum()

1004

In [93]:
df1 = df1.fillna(df1.median())

In [94]:
df1.to_csv('capston', index=False)